:root {
  --prime-color-black: #000000;
  --prime-color-white: #fff;
  --prime-color-nc1: #f1f1f1;
  --prime-color-nc2: #292929;
  --prime-color-nc3: #717171;
  --prime-color-nc4: ##565656;
  --prime-text-shadow: 0.2rem 0.2rem 0.2rem #565656;
  --prime-font-size-small: 14px;
  --prime-font-size-large: 24px;
  --prime-font-weight-medium: 400;

  --prime-font-16px: 16px;
  --prime-font-12px: 12px;

  --prime-color-primary: #306eb5;
}
