/**
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import "../../../styles/variables.css";

.container.levelsFilterContainer {
  border-bottom: 1px solid var(--prime-color-neutral-2);
}
.container.levelsFilterContainer .listContainer {
  border: none;
}
.typeContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.typeLabel {
  font-size: var(--prime-font-size-14);
  letter-spacing: 0px;
  color: var(--prime-color-body);
  opacity: 1;
  margin: 15px 0;
}
.typeLabel.price {
  margin-bottom: 10px;
}
.listContainer {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 200px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--prime-color-neutral-2);
  overflow-x: hidden;
  scrollbar-color: var(--prime-color-neutral-2) transparent;
  scrollbar-width: thin;
}

.filtersLabel {
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--prime-color-black);
  opacity: 1;
  margin: 0;
  font-size: var(--prime-font-size-16);
  font-weight: var(--prime-font-weight-700);
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  padding-bottom: 10px;
}

.clearAllFiltersBtn {
  background: inherit;
  border: 0px;
  cursor: pointer;
  color: var(--prime-color-link);
  font-size: var(--prime-font-size-16);
  padding: 0px;
  font-family: var(--prime-font-family);
}

.priceFilterContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.priceToLabel {
  margin: 5px 10px;
}
.listContainer .customSlider {
  display: inline-block;
}
.customSlider div[class^="spectrum-Slider-labelContainer"] {
  display: none;
}

.levelsFilter {
  padding-left: 10px;
  position: relative;
}
.levelsFilter h3 {
  padding-left: 10px;
}
.levelsFilter ul li {
  list-style: none;
}
.levelsFilter::before {
  height: calc(100% - 35px);
  border: 0.5px dashed var(--prime-color-neutral-2);
  position: absolute;
  left: 10px;
  content: "";
}
.levelsFilter .item {
  position: relative;
}
.levelsFilter .item::before {
  width: 15px;
  border: 0.5px dashed var(--prime-color-neutral-2);
  position: absolute;
  content: "";
  top: 12px;
}
.levelsFilter label[class*="primeCheckbox"] {
  margin-left: 16px;
}
.loader {
  padding: 30px;
  img {
    height: 20px;
  }
}

@media screen and (max-width: 1180px) {
  .priceFilterContainer {
    flex-direction: column;
  }
  .priceToLabel {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .priceFilterContainer {
    flex-direction: row;
  }
  .priceFilterContainer div[class^="spectrum-Stepper-button"] {
    width: 30px !important;
  }
}
