@import "../../../styles/variables.css";
.primeBoardWrapper {
  display: flex;
  max-width: 716px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.primeBoardItem {
  width: 716px;
  padding: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #0000001a;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  opacity: 1;
  position: relative;
}

.primeBoardName {
  font-size: var(--prime-font-size-18);
  margin-bottom: 12px;
  text-align: left;
  font-weight: 600;
  font-family: Source Sans Pro;
  letter-spacing: 0px;
  color: #306eb5;
  opacity: 1;
}

.primeBoardNameSpan:hover {
  cursor: pointer;
}

.primeBoardOptions {
  border: none;
  background: transparent;
  width: 28px;
  height: 28px;
  margin-top: -10px;
  float: right;
  fill: #306eb5;
}

.primeBoardSkill {
  text-align: left;
  font-size: var(--prime-font-size-12);
  font-family: Source Sans Pro;
  letter-spacing: 0px;
  color: var(--prime-color-nc3);
  opacity: 1;
  display: inline-flex;
  vertical-align: top;
}

.primeBoardSkillNames {
  margin-right: 10px;
}

.primeBoardDescription {
  /* height: 100px; */
  border-bottom: 1px solid #ccc;
  font-size: var(--prime-font-size-14);
  margin-bottom: 10px;
}

@media (max-width:414px) {
    .primeBoardItem, .primeBoardDescription {
        height: auto;
        width: 100%;
    }
}

.primeBoardIcon {
  width: 15px;
}

.primeBoardActivityPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.primeBoardActivityStats {
  max-width: 300px;
  display: flex;
}

.primeActivityStatsText {
  font-size: var(--prime-font-size-11);
  padding-left: 2px;
  vertical-align: text-top;
  margin-right: 15px;
  margin-top: 4px;
  color: var(--prime-color-nc3);
}

.primeActivityStatsIcon {
  width: 20px;
  color: var(--prime-color-nc3);
  margin-top: 2px;
  margin-right:5px;
}

.primeActivityInfoIcon {
  margin-left: -8px;
  margin-right: 10px;
  margin-top: 3px;
  width: 15px;
  color: var(--prime-color-nc3);
}

.primeVerticalSeperator {
  border-left: 1px solid #ccc;
  height: 2rem;
  margin-right: 10px;
}

@media (max-width: 414px) {
  .primeVerticalSeperator {
    display: none;
  }

  .primeActivityInfoIcon {
    display: none;
  }

  .primeBoardActivityPanel {
    height: 70px;
  }

  .primeActivityStatsIcon {
    margin-right: 5px;
  }

  .primeActivityStatsText {
    margin-right: 15px;
  }

}
