@import "../../../styles/variables.css";

.container {
  /* max-width: 50%; */
  /* margin: 0 auto; */
  border-top: 1px solid var(--prime-color-nc13);
  clear: both;
  text-align: left !important;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.moduleDescription {
  font-size: var(--prime-font-size-small);
  padding: 15px;
}

.headerContainer {
  background-color: var(--prime-color-white);
  display: flex;
  margin-bottom: 1px;
}
.title {
  width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.headerWrapper {
  /* width: 90%; */
  width: 100%;
  padding: 10px 10px 10px 0;
  line-height: 1.25rem;
}
.resourceType {
  text-transform: uppercase;
}
.headerIcon {
  display: flex;
  padding: 10px;
}

.details {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--prime-color-nc3);
  font-size: var(--prime-font-size-13);
}
.details span {
  display: block;
}
a.details {
  color: var(--prime-color-primary);
  text-decoration: none;
}

.icon {
  display: flex;
  padding: 10px;
}
.headerIcon svg {
  fill: var(--prime-icon-color);
  width: 40px;
  height: 40px;
}

.icon svg {
  fill: var(--prime-icon-color);
  width: 36px;
  height: 36px;
}
.spectrumIcon {
  padding: 10px 15px;
}
.spectrumIcon svg {
  fill: var(--prime-icon-color);
  width: 24px;
  height: 24px;
}

.wrapperContainer {
  background-color: var(--prime-color-nc9);
  border-color: #ececec;
  /* border: 1px solid #c9c9c9; */
}

.metaDataContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--prime-color-nc9);
}

.metadata {
  width: 50%;
  display: flex;
  align-items: center;
}

.resourceAndDuration {
  display: flex;
  justify-content: space-between;
  color: var(--prime-color-nc3);
  font-size: var(--prime-font-size-12);
}

@media screen and (max-width: 414px) {
  .metaDataContainer {
    display: flex;
    flex-direction: columns;
  }

  .container {
    max-width: 100%;
  }

  .metadata {
    width: 100%;
    display: flex;
  }

  .headerWrapper {
    width: 100%;
  }
}
