@import "../../../styles/variables.css";
.primeBoardOptionsList {
    position: absolute;
    border: 1px solid #dedede;
    background-color: #fafafa;
    min-width: 120px;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%);
    padding: 8px 0px;
    z-index: 1;
    margin-left: -80px;
}

@media (max-width: 414px) {
    .primeBoardOptionsList {
        margin-left: -70px;
        min-width: 0px;
    }
}

.primeBoardOption, .primeBoardCriticalOption {
    text-align: left;
    font-size: var(--prime-font-size-12);
    font-family: Source Sans Pro;
    letter-spacing: 0px;
    padding:0.5rem;
}

.primeBoardCriticalOption {
    color: #e61414;
}
.primeBoardOption:hover, .primeBoardCriticalOption:hover {
    background-color: #dedede;
    cursor: pointer;
}

.primeSeperator {
    margin: 0.5rem 0.5rem;    
    border-top: 1px solid rgba(0, 0, 0, 0.4)
}