.primeCommentSectionWrapper {
    display:flex;
    margin-bottom: 15px;
}

.primeCommentSection {
    border-radius: 2px;
    opacity: 1;
    padding: 10px;
    width: 100%;
    max-width: 716px;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
    max-width: 716px;
    opacity: 1;
    position: relative;
}