.primeBoardOptionsWrapper {
    display:flex;
}

.primeBoardFilters {
    margin-top: 55px;
    border-radius: 2px;
    opacity: 1;
    width: 400px;
    display:flex;
}

@media (max-width: 414px) {
    .primeBoardFilters {
        margin-top: 25px;
        padding: 0px;
        width: 100%;
    }
}