/**
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import "../../../styles/variables.css";
* {
  box-sizing: border-box;
}

.courseInfoHeader {
  font-size: var(--prime-font-size-16);
  line-height: 26px;
  letter-spacing: 0px;
  color: var(--prime-color-nc1);
  margin: 20px 0;
  font-weight: normal;
}
.courseInfoHeader span {
  font-weight: bold;
}
.courseInfoHeaderBlock {
  width: 90%;
}
.courseDetailsContainer {
  display: flex;
  margin-bottom: 25px;
  padding: 60px 0 0 0;
}

.card {
  width: 112px;
  height: 112px;
  margin-right: 20px;
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
}

.detailsContainer {
  z-index: 1;
  background: transparent;
}

.bottomBar {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 0px 10px;
  color: var(--prime-color-white);
  bottom: 0;
}

.band {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0px 0px 3px 3px;
  height: 23px;
  width: 100%;
}
.title {
  font-size: var(--prime-font-size-16);
  line-height: 26px;
  letter-spacing: 0px;
  color: var(--prime-color-nc1);
  opacity: 1;
  margin: 0;
  text-transform: capitalize;
}
.type {
  font-size: var(--prime-font-size-14);
  line-height: 26px;
  letter-spacing: 0px;
  color: var(--prime-color-nc3);
  opacity: 1;
  margin: 0;
  text-transform: capitalize;
}
.overview {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  white-space: normal !important;
  height: auto !important;
  font-family: var(--prime-font-family);
}
.instancesContainer {
  opacity: 1;
  margin-top: 50px;
}
.instancesHeaderSection {
  display: flex;
  padding: 10px 20px;
  height: 60px;
  align-items: center;
  width: 100%;
  border: 2px solid var(--prime-color-neutral-3);
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}
.commonHeader {
  font-size: var(--prime-font-size-14);
  color: var(--prime-color-nc1);
  line-height: 17px;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: bold;
}
.instanceNameWrapper {
  width: 25%;
}
.dateWrapper {
  width: 100%;
}
.completionDateWrapper {
  width: 100%;
}
.priceWrapper {
  width: 100%;
}
.locationWrapper {
  width: 100%;
}
.actionWrapper {
  width: 20%;
  align-items: flex-start;
  justify-content: flex-end;
  display: flex;
}
.middleSection {
  display: flex;
  width: 55%;
}

.instanceList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 2px solid var(--prime-color-neutral-3);
  border-top: none;
  border-bottom: none;
  background-color: var(--prime-color-white);
}

.sortIcon {
  cursor: pointer;
  position: relative;
  left: 5px;
  top: 5px;
}
.sortIcon svg {
  fill: var(--prime-color-nc3);
  width: 16px;
  height: 16px;
}
.selectInstanceContainer {
  display: none;
}

.pageContainer {
  max-width: var(--prime-container-max-width-desktop);
  width: 950px;
  margin: 0 auto;
  min-height: 750px;
}
.loDetails {
  max-width: 85%;
}
.breadcrumbMobile {
  background: var(--prime-color-neutral-1);
  position: absolute;
  width: 100%;
  left: 0;
  justify-content: center;
  display: flex;
}

.lightThemeLinkColor a {
  color: var(--prime-color-link);
}

.darkThemeLinkColor a {
  color: var(--prime-color-link-dark);
}

@media screen and (max-width: 1024px) {
  .pageContainer {
    max-width: var(--prime-container-max-width-tablet);
    width: var(--prime-container-width);
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .pageContainerBackground {
    width: 100% !important;
  }
  .courseInfoHeader {
    margin: 30px 20px 20px 20px;
    line-height: 20px;
  }
  .courseDetailsContainer {
    display: none;
  }
  .selectInstanceContainer {
    display: block;
    padding: 20px 20px 10px 20px;
    background: var(--prime-color-nc4);
    letter-spacing: 0px;
    margin-bottom: 3px;
  }
  .selectInstance {
    color: var(--prime-color-black);
    opacity: 1;
    font-size: var(--prime-font-size-20);
    line-height: 25px;
    font-weight: normal;
    margin: 0;
  }
  .instancesContainer {
    display: none;
  }
  .pageContainer {
    width: 100%;
    max-width: var(--prime-container-max-width-mobile);
  }
  .breadcrumbMobile {
    display: block;
  }
  .breadcrumbDesktop {
    display: none;
  }
  .breadcrumbParent {
    display: block;
    position: relative;
    margin-left: 20px;
  }
  .breadcrumbLink {
    color: var(--prime-color-black);
  }

  .viewButtonShaded svg {
    width: inherit;
    height: inherit;
  }

  .viewButton svg {
    width: inherit;
    height: inherit;
  }

  .viewButtonBox {
    margin-right: 5px;
    position: inherit;
  }

  .primeTrainingsCards {
    margin-left: 20px !important;
  }

  .instancePageHeading {
    margin: 20px !important;
    display: inline !important;
  }
}

.loader {
  height: 200px;
}

.listItem * {
  box-sizing: border-box;
}

.backgroundPage {
  width: 100%;
  background-color: var(--prime-color-nc4);
}

.primeTrainingsCards {
  display: flex;
  flex-wrap: wrap;
  align-self: self-start;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 20px;
  margin-top: 70px;
}

.breadcrumbParent {
  display: flex;
  padding: 12px 0;
  max-width: var(--prime-container-max-width-desktop);
  width: 950px;
  justify-content: flex-start;
  color: var(--prime-color-neutral-3);
}
.breadcrumbLink {
  color: var(--prime-color-neutral-3);
  cursor: pointer;
  max-width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
}
.breadcrumbLink:hover {
  text-decoration: underline;
}
.breadcrumbArrow {
  color: var(--prime-color-neutral-3);
  cursor: pointer;
}
.breadcrumbDesktop {
  display: flex;
}

.viewButton svg,
.viewButtonShaded svg {
  transform: scale(0.6);
  position: relative;
  right: 8px;
}

.viewButtonShaded svg {
  fill: var(--prime-color-primary);
}

.pageContainerBackground {
  max-width: var(--prime-container-max-width-desktop);
  margin: 0 auto;
  min-height: 750px;
}

.viewButtonShaded {
  width: 24px;
  height: 28px;
  cursor: pointer;
  margin: 0;
  background-color: var(--prime-color-nc2);
  background-size: 15px;
  border-color: transparent;
  position: relative;
  align-items: center;
  border: 1.5px solid var(--prime-color-primary) !important;
  border-radius: 4px;
}

.viewButtonBox {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  float: right;
  width: 64px;
  height: 32px;
  background: no-repeat padding-box var(--prime-color-white);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 30px;
  /* margin-top: 0px; */
}

.instancesContainerBox {
  background-color: var(--prime-color-white);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 25px;
  min-height: 300px;
  padding: 20px 25px;
}

.viewButton {
  width: 24px;
  height: 28px;
  cursor: pointer;
  margin: 0;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  align-items: center;
}

.instancePageHeading {
  display: none;
}

.noInstanceAvailableContainer {
  display: flex;
  align-items: flex-start;
  font-size: var(--prime-font-size-16);
  line-height: 26px;
  letter-spacing: 0px;
  color: var(--prime-color-nc1);
  margin: 20px 0;
  font-weight: normal;
}

.noInstanceAvailable {
  width: 90%;
}

.noInstanceAvailable a {
  color: var(--prime-color-link);
  text-decoration: underline;
  cursor: pointer;
}

.alertIcon {
  margin-right: 8px;
  margin-top: 4px;
  height: 18px;
  width: 18px;
  fill: var(--prime-error-color);
}
