@import "../../styles/variables.css";

.itemContainer {
  display: flex;
  padding: 10px 0;
  gap: 20px;
}

.itemImage {
  width: 100px;
  height: 100px;
  background-color: grey;
  flex-direction: row;
  flex: 100px 0 0;
}
.detailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex: 4 0 0;
}

.name {
  padding-right: 20px;
}

.removeItem {
  display: flex;
  justify-content: flex-end;
  float: right;
}

.removeItem svg {
  fill: var(--prime-color-black);
}

.priceLabel {
  display: flex;
  justify-content: flex-end;
}
