@import "../../styles/variables.css";

.headerSection {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid var(--prime-color-black);
}
.headerLabel {
  font-size: var(--prime-font-size-14);
  color: var(--prime-color-black);
}

