<nav class="alm-header-vertical-nav">
    <div class="vertical-nav-cont">
        <ul class="vert-nav-profile-cont">
            <li>
                <button class="vert-nav-close-button">
                    <span class="vert-nav-close-icon">
                        <img src="/content/dam/learning/site/Smock_Close.png" />
                    </span>
                </button>
            </li>
            <li><img class="vert-nav-profile-image" src="" /></li>
            <li><span class="vert-nav-profile-name"></span></li>
            <li><span class="alm-profile__text">Your Profile</span></li></li> 
        </ul>

        <ul>
            <li class="vert-nav-separator"></li>
            <li><a class="alm-home-navigate">Home</a></li>

            <li class="vert-nav-separator"></li>
            <li><a class="alm-learning-navigate">Learning</a></li>

            <li class="vert-nav-separator"></li>
            <li><a class="alm-community-navigate">Community</a></li>
            
            <li class="vert-nav-separator"></li>
            <li><a class="alm-support-navigate">Support</a></li>

            <li class="vert-nav-separator"></li>
            <li class="alm-logout-navigate"><a>Log out</a></li>

            <li class="vert-nav-separator"></li>
            <li class="alm-login-navigate"><a>Log in</a></li>

            <li class="vert-nav-separator"></li>
            <li class="alm-register-navigate"><a>Register</a></li>
            <li class="vert-nav-separator"></li>
        </ul>
    </div>
</nav>

<div class="alm-header-cont">

    <!-- Block for mobile immersive bar -->
    <img class="alm-header-menu" src="/content/dam/learning/site/ShowMenu.svg" ></img>

    <!-- block for image left align -->
    <img class="alm-header-logo" src="${properties.fileReference}"></img>

    <!-- block for navigation -->
    <ul class="alm-header-navigation">
        <li>
            <a class="alm-home-navigate">Home</a>
            <div class="nav-highlight" style="display: none;"></div>
        </li>
        <li>
            <a class="alm-learning-navigate">Learning</a>
            <div class="nav-highlight" style="display: none;"></div>
        </li>
        <li>
            <a class="alm-community-navigate">Community</a>
            <div class="nav-highlight" style="display: none;"></div>
        </li>
        <li>
            <a class="alm-support-navigate">Support</a>
            <div class="nav-highlight" style="display: none;"></div>
        </li>
    </ul>

    <!-- block for icons right align -->
    <div class="alm-header-icons">
        <sly data-sly-resource="${resource.path @ resourceType='learning/components/notification', appendPath='/*'}"/>
        <!-- <img class="alm-header-notification" src="/content/dam/learning/site/Smock_Bell.png" ></img> -->
        <div class="alm-header-cart-cont">
            <img class="alm-header-cart" src="/content/dam/learning/site/cart-icon.svg" style="display: none;"></img>
            <span class="alm-header-cart-counter"></span>
        </div>
        <img class="alm-header-profile" src="" ></img>
        <img class="alm-header-down" src="/content/dam/learning/site/ChevronDown.svg"></img>
        <div class="alm-header-profile-options">
            <ul>
                <li><span class="alm-profile__text">Your Profile</span></li>
                <li><span class="alm-log-in">Log In</span></li>
                <li><span class="alm-log-out">Log Out</span></li>
                <li><span class="alm-register">Register</span></li>
            </ul>
        </div>
    </div>
</div>


<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='learning.site,apps.alm.components.header'}"/>