#home-categories-container {
    margin-top: -10px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    position: relative;
}

#categories-headline.cmp-text {
    text-align: center;
    font: normal normal bold 27px/42px Source Sans Pro;
    letter-spacing: 0px;
    color: #292929;
}

#categories-desc {
    margin-left: 200px;
    margin-right: 200px;
}

#categories-desc.cmp-text {
    text-align: center;
    font: normal normal normal 18px/33px Source Sans Pro;
    letter-spacing: 0px;
    color: #292929;
}

.categories-wrapper {
  /* max-width: var(--prime-container-max-width-desktop);
  width: var(--prime-container-width); */
  margin: 0 auto;
}

.categories-list {
    display: flex;
    padding: 20px 20px 20px 0;
    overflow-x: scroll;
    scrollbar-width: none;
    touch-action: pan-x;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .categories-list::-webkit-scrollbar {
    display: none; 
  }
  
  .category-item {
    height: auto;
    width: 348px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .category-item img {
      width: 234px;
      height: 234px;
      border-radius: 50%;
  }

  .category-item .category-headline {
    font: normal normal bold 18px/23px Source Sans Pro;
    letter-spacing: 0px;
    color: #292929;
    padding-top: 32px;
  }

  .category-item .category-desc {
    font: normal normal normal 16px/26px Source Sans Pro;
    letter-spacing: 0px;
    color: #292929;
    padding-top: 26px;
  }

  .category-item .category-link-btn {
      margin-top: 32px;
      background: #306EB5 0% 0% no-repeat padding-box;
      border-radius: 24px;
      width: 160px;
      height: 48px;
      text-align: center;
      font: normal normal 600 16px/22px Source Sans Pro;
      letter-spacing: 0px;
      color: #FCFCFC;
      cursor: pointer;
  }
  
  .category-item:not(:last-child) { margin-right: 10px; }
  
  /* hacky fix for padding at the end of the list */
  .category-item:last-child {
    position: relative;
  }
  
  .category-item:last-child::after {
    position: absolute;
    left: 100%;
    height: 1px;
    width: 20px;
    display: block;
    content: "";
  }

  .categories-left-arrow
  {
      position: absolute;
      top: 50%;
      left: 0;
      cursor: pointer;
      padding: 5px;
      border: 1px solid #717171;
      border-radius: 26px;
  }

  .categories-right-arrow
  {
      position: absolute;
      top: 50%;
      right: 0;
      cursor: pointer;
      padding: 5px;
      border: 1px solid #717171;
      border-radius: 26px;
  }

@media screen and (max-width: 1024px) {
    .categories-wrapper {
      /* max-width: var(--prime-container-max-width-tablet);
      width: var(--prime-container-width); */
      padding-left: 0;
    }

    #categories-desc {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 414px) {
    .categories-wrapper {
        /* width: 100%;
        max-width: 100%; */
        padding-left: 0;
    }

    #categories-desc {
        margin-left: 10px;
        margin-right: 10px;
    }
}
