@import "../../../styles/variables.css";

.left {
  width: calc(100% - 256px);
  padding-right: 80px;
}

.right {
  width: 256px;
  padding: 20px 0;
}
.trainingOverviewContainer, .trainingOverviewPrequisite {
  border: 1px solid var(--prime-color-nc6);
  border-radius: 6px;
  margin-bottom: 20px;
}

.trainingOverviewContainer {
  padding: 10px;
}

.trainingPrequisiteLabel {
  margin-bottom: 20px;
  margin-top: 20px;
}

.sectionName {
  margin: 0 0 10px 0;
  color: var(--prime-color-nc1);
  font-size: var(--prime-font-size-16);

}
.sectionOptional {
  display: inline-block;
  margin-bottom: 20px;
  background: var(--prime-success-color);
  border-radius: 8px;
  color: var(--prime-color-white);
  font-weight: var(--prime-font-weight-600);
  font-size: var(--prime-font-size-10);
  padding: 1px 8px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.overview {
  font-size: var(--prime-font-size-16);
  color: var(--prime-color-nc1);
}
.duration {
  font-size: var(--prime-font-size-14);
  color: var(--prime-color-nc3);
}
.pageContainer {
  display: flex;
  max-width: var(--prime-container-max-width-desktop);
  width: var(--prime-container-width);
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .headingContainer {
    max-width: var(--prime-container-max-width-tablet);
    width: var(--prime-container-width);
    padding: 0;
  }
}

@media screen and (max-width: 414px) {
  .left {
    order: 2;
    width: 100%;
    padding: 20px;
  }
  .right {
    order: 1;
    width: 100%;
    padding: 20px 20px 0 20px;
  }
  .pageContainer {
    flex-direction: column;
    width: 100%;
    max-width: var(--prime-container-max-width-mobile);
  }
  .trainingOverviewContainer {
    border: none;
    margin-bottom: 20px;
    padding: 0;
  }
  .overview {
    margin-top: 0;
  }
}
.loader {
  height: 200px;
}
