.alm-header-vertical-nav
{
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 199;
    background: #232323 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #00000029;
    font: normal normal normal 20px/25px Source Sans Pro;
    width: 320px;
    overflow: auto;
}

.alm-header-vertical-nav ul
{
    list-style-type: none;
    padding: 0;
}

.alm-header-vertical-nav a
{
    text-decoration: none;
    color: #ECECEC;
}

.alm-header-vertical-nav span
{
    color: #ECECEC;
}

.alm-header-vertical-nav .vert-nav-close-button
{
    background: transparent;
    border: 0;
    cursor: pointer;
    float: right;
}

.alm-header-vertical-nav .vert-nav-profile-cont
{
    text-align: center;
}

.vertical-nav-cont
{
    width: 280px;
    margin: 0 auto;
}

.alm-header-vertical-nav .vert-nav-close-icon
{
    float: right;
}

.alm-header-vertical-nav .vert-nav-profile-image
{
    width: 122px;
    height: 122px;
    border-radius: 50%;
    margin-top: 60px
}

.alm-header-vertical-nav .vert-nav-separator
{
    border-top: 1px solid rgba(255,255,255,.15);
    margin: 1.4rem auto 1.5rem;
    opacity: 1;
    width: 100%;
}

.vert-nav-profile-cont li
{
    margin-bottom: 6px;
}
