@import "../../../styles/variables.css";

.header {
  -webkit-transition: height 0.2s;
  -ms-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
  height: 150px;
  width: 100%;
  background-repeat: repeat-x;
}

.format {
  margin-top: 20px;
  height: 30px;
  letter-spacing: 1px;
  text-shadow: var(--prime-text-shadow);
  font-size: var(--prime-font-size-16);
  color: var(--prime-color-white);
  line-height: 1.42857;
}

.title {
  margin-top: 35px;
  text-align: left;
  color: var(--prime-color-white);
  line-height: 120%;
  vertical-align: bottom;
  text-shadow: var(--prime-text-shadow);
  font-size: var(--prime-font-size-24);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.progressContainer {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.progressBar {
  width: 90%;
}
.percent {
  position: relative;
  bottom: 10px;
  color: var(--prime-color-white);
  text-shadow: var(--prime-text-shadow);
}
.progressBar div[class^="spectrum-BarLoader-fill"] {
  background: linear-gradient(90deg, #55b36f, #0f870f);
}

.headingContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: normal;
  /* font-weight: var(--prime-font-size-24) !important; */
  max-width: var(--prime-container-max-width-desktop);
  width: var(--prime-container-width);
}
@media screen and (max-width: 1024px) {
  .headingContainer {
    max-width: var(--prime-container-max-width-tablet);
    width: var(--prime-container-width);
    padding: 0;
  }
  .title{
    font-size: var(--prime-font-size-20);
  }

@media screen and (max-width: 414px) {
  .header {
    padding: 0 20px;
  }
  .progressContainer {
    width: 100%;
  }
  .progressBar {
    width: 85%;
  }
  .headingContainer {
    width: 100%;
    max-width: var(--prime-container-max-width-mobile);
  }
}
