@import "../../../styles/variables.css";
.primeBoardParent {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.primeCommunitySearchContainer {
    display: flex;
    margin-bottom:20px;
    margin-top: 25px;
    margin-left: auto;
    justify-content: center;
}

@media (max-width: 414px) {
    .primeCommunitySearchContainer {
        padding: 5px 20px;
        width: 100%
    }
}

.primeLoaderWrapper {
    margin-bottom: 20px;
    height:20px;
    display: flex;
    justify-content: center;
}

.primeCommunitySearchStatus {
    display: flex;
    font-size: var(--prime-font-size-14);
    width: 716px;
    margin: auto;
    margin-bottom: 25px;
    padding-left: 20px;
}

.primeCommunitySearchClear {
    border: none;
    background-color: transparent;
    color: #306EB5;
}

.primeCommunitySearchClear:hover {
    cursor: pointer;
}

.primeCommunitySearchWrapper {
    width: 716px;
    display: flex;
    justify-content: right;
}
  
@media (max-width: 414px) {
    .primeCommunitySearchWrapper {
        width: 100%;
        height: 40px;
    }
}