.primeBoardParent {
    margin-bottom:20px;
}

.primeCommunitySearchContainer {
    display: flex;
    width: 100%;
    justify-content: right;
    max-width: 716px;
    margin-bottom:20px;
    margin-top: 10px;
}

.primeLoaderWrapper {
    margin-bottom: 20px;
    height:20px;
    justify-content: center;
    max-width: 716px;
    display: flex;
}

.primeCommunitySearchStatus {
    display: flex;
    font-size: 14px;
    margin: 10px 25px;
}

/* .primeCommunitySearchCount {
    margin-right: 1px;
} */

.primeCommunitySearchClear {
    border: none;
    background-color: transparent;
    color: #306EB5;
}

.primeCommunitySearchClear:hover {
    cursor: pointer;
}