.notificationDropdown{
  list-style:none
}
.notificationBellIcon {
  padding: 0 !important;
  margin-top: 6px;
  margin-left: 20px;
  height: 36px;
  width: 36px;
  vertical-align: middle;
  display: inline-block;
  fill: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: transparent;
  border:none
}

.notificationContainer {
  width: 320px;
  padding: 5px 0;
  margin: 2px 0 0;
  margin-top: 10px;
  font-size: 14px;
  list-style: none;
  background-color: #292929;;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
}

/*
The below makes the small arrow on top of the notificationbox 
*/
.notificationContainer:after {
  position: absolute;
  top: 45px;
  left: 25px;
  display: inline-block;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #292929;
  border-left: 14px solid transparent;
  content: "";
}

.notificationList {
  margin: 0px; 
  padding: 0px; 
}

