.notificationDropdown{
  list-style:none;
  position:absolute
}
.notificationBellIcon {
  padding: 0 !important;
  margin-top: 6px;
  margin-left: 20px;
  height: 36px;
  width: 36px;
  vertical-align: middle;
  display: inline-block;
  fill: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: transparent;
  border:none
}

