@import "../../styles/variables.css";

.primeTrainingHeader {
    -webkit-transition: height .2s;
    -ms-transition: height .2s;
    -moz-transition: height .2s;
    -o-transition: height .2s;
    transition: height .2s;
    height: 140px;
    width: 100%;
    background-repeat: repeat-x;
}

.primeTraingingHeadingContainer {
    padding-left: 95px;
    padding-right: 95px;
    width: 100%;
    font-style: normal;
    font-weight: var(--prime-font-weight-medium) !important;
}

.primeTrainingFormat {
    margin-top: 17px;
    height: 30px;
    width: 60%;
    text-align: left;
    display: inline-block;
    letter-spacing: 1px;
    text-shadow: var(--prime-text-shadow);
    font-size: var(--prime-font-size-small);
    color: var(--prime-color-white);
    line-height: 1.42857;
}

.primeTrainingTitle{
    margin-top: 50px;
    text-align: left;
    color: var(--prime-color-white);
    display: inline-block;
    line-height: 120%;
    width: 65%;
    vertical-align: bottom;
    text-shadow: var(--prime-text-shadow);
    font-size: var(--prime-font-size-large);;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
