@import "../../../styles/variables.css";
.primePostSectionWrapper {
  display: flex;
  justify-content: center;
}

.primePostSection {
  border-radius: 2px;
  opacity: 1;
  padding: 10px 25px;
  width: 100%;
  max-width: 716px;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  opacity: 1;
  position: relative;
}

.primeNoResultMessage {
  text-align: center;
  font-size: var(--prime-font-size-14);
}

.primeCommunityNoPostFound {
  font-size: var(--prime-font-size-14);
}
