.primePostSectionWrapper {
    display:flex;
    justify-content: center;
}

.primePostSection {
    border-radius: 2px;
    opacity: 1;
    padding: 10px 25px;
    width: 100%;
    max-width: 716px;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
    opacity: 1;
    position: relative;
}

.primeNoResultMessage {
    text-align: center;
    font-size: 14px;
}

.primeCommunityNoPostFound {
    font-size:14px;
}