/*
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

#learning-body {
  position: relative;
}

.cmp-title--right {
  align-content: center;
}

.cmp-image--logo {
  width: 100px;
}

.carousel {
  height: 400px;
}

.cmp-teaser__image,
.cmp-teaser__image .cmp-image,
.cmp-teaser__image .cmp-image .cmp-image__image {
  height: 300px;
}

.cmp-teaser .cmp-teaser__content {
  float: left;
  position: absolute;
  bottom: 15%;
  color: white;
  left: 40px;
}

.cmp-teaser .cmp-teaser__content h2,
.cmp-teaser .cmp-teaser__content p {
  background: #2929294d 0% 0% no-repeat padding-box;
}

.cmp-teaser .cmp-teaser__content a {
  background: #2929294d 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  border-radius: 24px;
  color: white;
  text-decoration: none;
  padding: 2px 10px 2px 10px;
}

.cmp-carousel__actions {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  height: 36px;
}

.cmp-carousel button.cmp-carousel__action {
  width: 36px;
  margin: 0;
  padding: 0;
}

.cmp-carousel .cmp-carousel__action .cmp-carousel__action-icon {
  display: inline-block;
  margin-top: 14px;
}

@media screen and (max-width: 414px) {
  .cmp-teaser .cmp-teaser__content {
    left: 20px;
  }
}

#carousel-container .carousel,
#carousel-container .cmp-carousel {
  height: 300px;
}

#carousel-container .cmp-teaser__image .cmp-image .cmp-image__image {
  height: 300px;
}

/* CSS for Home Catalog Page*/
#home-catalog-container .cmp-text {
  font: normal normal bold 27px/42px Source Sans Pro;
}

#home-catalog-container .cmp-carousel__indicators {
  margin-top: 15px;
}

#home-catalog-container .cmp-carousel__indicators li {
  cursor: pointer;
}

/* CSS for MyLearning Page*/
#learning-parent-container #learning-carousel-cont .cmp-teaser__title,
#home-catalog-container #home-carousel-cont .cmp-teaser__title {
  display: block;
  padding: 0;
  margin-bottom: 0;
}

#learning-parent-container #learning-carousel-cont .cmp-teaser .cmp-teaser__content .cmp-teaser__title a,
#home-catalog-container #home-carousel-cont .cmp-teaser .cmp-teaser__content .cmp-teaser__title a {
  font: normal normal bold 30px/38px Source Sans Pro;
}

#learning-parent-container #learning-carousel-cont .cmp-teaser__description,
#home-catalog-container #home-carousel-cont .cmp-teaser__description {
  display: block;
  margin-top: 20px;
}

#learning-parent-container #learning-carousel-cont .cmp-teaser__description p,
#home-catalog-container #home-carousel-cont .cmp-teaser__description p {
  display: inline-block;
  padding: 0 15px 0 15px;
  font: normal normal 600 18px/25px Source Sans Pro;
}

@media screen and (max-width: 1024px) {
  #learning-parent-container #learning-carousel-cont .cmp-teaser__description p,
  #home-catalog-container #home-carousel-cont .cmp-teaser__description p {
    font: normal normal 600 16px/22px Source Sans Pro;
    letter-spacing: -0.42px;
  }

  #learning-parent-container #learning-carousel-cont .cmp-teaser .cmp-teaser__content .cmp-teaser__title a,
  #home-catalog-container #home-carousel-cont .cmp-teaser .cmp-teaser__content .cmp-teaser__title a {
    font: normal normal bold 18px/23px Source Sans Pro;
    letter-spacing: -0.47px;
  }
}

#learning-parent-container #learning-carousel-cont .cmp-teaser .cmp-teaser__content a,
#home-catalog-container #home-carousel-cont .cmp-teaser .cmp-teaser__content a {
  background: none;
  border: 0;
  padding: 0 15px 0 15px;
  font: normal normal 600 16px/22px Source Sans Pro;
}

#learning-parent-container #learning-carousel-cont .cmp-teaser__action-container,
#home-catalog-container #home-carousel-cont .cmp-teaser__action-container {
  margin: 30px 0 0 0;
  text-align: center;
}

#learning-parent-container #learning-carousel-cont .cmp-teaser__action-container a.cmp-teaser__action-link,
#home-catalog-container #home-carousel-cont .cmp-teaser__action-container a.cmp-teaser__action-link {
  width: 160px;
  height: 40px;
  background: #2929294D 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  line-height: 35px;
  text-transform: none;
}

#learning-parent-container .cmp-teaser .cmp-teaser__title,
#home-catalog-container .cmp-teaser .cmp-teaser__title
{
  font: normal normal bold 18px/23px Source Sans Pro;
  letter-spacing: -0.47px;
  color: #FFFFFF; 
  display: inline;
  padding: 0 5px 0 5px;
}

#learning-parent-container .cmp-teaser .cmp-teaser__description
,#home-catalog-container .cmp-teaser .cmp-teaser__description
{
  font: normal normal 600 16px/22px Source Sans Pro;
  letter-spacing: -0.42px;
  color: #FFFFFF; 
  display: inline-block;
}

#learning-parent-container .cmp-teaser .cmp-teaser__description p
,#home-catalog-container .cmp-teaser .cmp-teaser__description p {
  padding: 0 15px 0 15px;
}

#learning-button-cont,
#explore-button-cont {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

#learning-calendar-cont {
  margin-bottom: 40px;
}

#learning-parent-container .mylearning {
  margin-bottom: 40px;
}

#learning-parent-container .carousel {
  margin-bottom: 40px;
}

#home-catalog-container .carousel {
  margin-bottom: 50px;
}

#home-catalog-container .newssection  {
  margin-bottom: 40px;
}

#learning-button-cont .cmp-button,
#explore-button-cont .cmp-button {
  width: 186px;
  height: 60px;
  text-transform: initial;
}

#learning-button-cont button:first-child,
#explore-button-cont button:first-child {
  background: #292929 0% 0% no-repeat padding-box;
  color: white;
}

#learning-button-cont a,
#explore-button-cont a {
  text-align: center;
  text-decoration: none;
}

#learning-button-cont a span,
#explore-button-cont a span {
  display: inline-block;
  margin-top: 18px;
}

#learning-button-cont .cmp-button .cmp-button__text,
#explore-button-cont .cmp-button .cmp-button__text {
  padding: 0;
  float: initial;
}

#news-catalog-container {
  margin-top: 60px;
}

#learning-calendar-cont .mylearning {
  width: 100%;
}

#learning-parent-container .cmp-teaser__image,
#learning-parent-container .cmp-teaser__image .cmp-image,
#learning-parent-container .cmp-teaser__image .cmp-image .cmp-image__image {
  height: 249px;
}

#home-catalog-container .cmp-teaser__image,
#home-catalog-container .cmp-teaser__image .cmp-image,
#home-catalog-container .cmp-teaser__image .cmp-image .cmp-image__image {
  height: 400px;
}

#learning-parent-container .carousel {
  height: 279px;
}

#learning-parent-container .cmp-carousel__indicators {
  margin-top: 15px;
}

#learning-parent-container .cmp-carousel__indicators li {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  #catalog-page-container,
  #home-catalog-container {
    margin: 0 auto;
    margin-top: 50px;
  }

  #home-categories-container {
    margin: 0 auto;
    margin-bottom: 60px;
  }

  #learning-parent-container {
    margin: 0 auto;
    margin-top: 50px;
  }

  #learning-button-cont,
  #explore-button-cont {
    margin-bottom: 60px;
  }

  #learning-calendar-cont {
    margin-bottom: 60px;
  }

  #learning-parent-container .mylearning {
    margin-bottom: 60px;
  }

  #learning-parent-container .carousel {
    margin-bottom: 60px;
  }
  
  #home-catalog-container .carousel {
    margin-bottom: 70px;
  }
  
  #home-catalog-container .newssection  {
    margin-bottom: 60px;
  }

  #learning-button-cont .cmp-button,
  #explore-button-cont .cmp-button {
    width: 133px;
    height: 33px;
    font: normal normal normal 16px/20px Source Sans Pro;
    text-transform: initial;
    border-radius: 17px;
    margin-right: 10px;
    border: 1px solid #e4e4e4;
  }

  #learning-button-cont a span,
  #explore-button-cont a span {
    display: inline-block;
    margin-top: 5px;
  }

  #learning-calendar-cont .mylearning:nth-of-type(1n) {
    width: 610px;
  }

  #learning-calendar-cont .mylearning:nth-of-type(2n) {
    width: 300px;
  }

  #learning-parent-container .cmp-teaser .cmp-teaser__title
  ,#home-catalog-container .cmp-teaser .cmp-teaser__title
  {
    font: normal normal bold 30px/38px Source Sans Pro;
    letter-spacing: -0.78px;
  }

  #learning-parent-container .cmp-teaser .cmp-teaser__description
  ,#home-catalog-container .cmp-teaser .cmp-teaser__description
  {
    font: normal normal 600 18px/25px Source Sans Pro;
    letter-spacing: -0.47px;
  }
}

@media screen and (min-width: 1366px) {
  #catalog-page-container,
  #home-catalog-container,
  #home-categories-container {
    margin: 0 auto;
  }

  #catalog-page-container,
  #home-catalog-container,
  #learning-parent-container {
    margin-top: 50px;
  }
}

#home-catalog-container,
#home-categories-container,
#catalog-page-container,
#learning-parent-container {
  max-width: var(--prime-container-max-width-desktop);
  width: var(--prime-container-width);
  margin-left: auto;
  margin-right: auto;
}

#home-categories-container {
  position: relative;
}

#home-categories-container #categories-headline {
  margin-top: 60px;
}

@media screen and (max-width: 1024px) {
  #home-catalog-container,
  #catalog-page-container {
    max-width: var(--prime-container-max-width-tablet);
    width: var(--prime-container-width);
    padding: 0;
    margin-top: 30px;
  }

  #home-categories-container {
    max-width: var(--prime-container-max-width-tablet);
    width: var(--prime-container-width);
    padding: 0;
    margin-bottom: 40px;
  }

  #learning-parent-container {
    max-width: var(--prime-container-max-width-tablet);
    width: var(--prime-container-width);
    padding: 0;
    margin-top: 50px;
  }
}

@media screen and (max-width: 414px) {
  #home-catalog-container,
  #catalog-page-container,
  #home-categories-container,
  #learning-parent-container {
    width: 100%;
    max-width: 100%;
  }
}
