/*
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

#learning-body .experiencefragment.cmp-experiencefragment--footer
{
  position: absolute;
  bottom: -80px;
}

.experiencefragment.cmp-experiencefragment--footer a {
  color: #ebebeb;
  font-size: 14px;
  letter-spacing: 0px;
  text-align: left;
}

#alm-footer {
  background: #292929 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  height: 70px;
  color: #ebebeb;
  display: block;
}

#alm-footer #alm-footer-container {
  max-width: var(--prime-container-max-width-desktop);
  width: var(--prime-container-width);
  margin-top: 20px;
  position:relative;
}

#alm-footer a {
  color: #ebebeb;
  font-size: 11px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  font: normal normal normal 11px/14px Source Sans Pro;
}

#alm-footer .cmp-title h6
{
  margin-top: 0px;
  margin-bottom: 0px;
}

#alm-footer .cmp-text p
{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 11px;
  margin: 0px 4px 0px 4px;
  color: rgb(251, 112, 75);
}

#alm-footer #alm-footer-scrollTop .cmp-text p
{
  color: #ebebeb;
}

#alm-footer div.title,
#alm-footer div.text
{
  width: auto;
}

#alm-footer-scrollTop {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

#alm-footer-scrollTop a {
  display: flex;
}

#alm-footer-scrollTop img {
  border: 1px white solid;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
}

#alm-footer-scrollTop div {
  margin-right: 5px;
}

#alm-footer-container .footer-separator {
  font-size: 11px;
}

#alm-footer-titles-cont
{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  #alm-footer {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #alm-footer #alm-footer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 930px; */
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) {
  #alm-footer #alm-footer-container {
    max-width: var(--prime-container-max-width-tablet);
    width: var(--prime-container-width);
    padding: 0;
  }
}

div#root {
  height: 0;
}
