/*
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

#tmplt-carousel .cmp-teaser .cmp-teaser__content
{
  max-width: var(--prime-container-max-width-desktop);
  width: var(--prime-container-width);
  left: 0;
  right: 0;
  margin: 0 auto;
}

#tmplt-carousel .cmp-teaser .cmp-teaser__title
{
  font: normal normal bold 18px/23px Source Sans Pro;
  letter-spacing: -0.47px;
  color: #FFFFFF;
  display: inline;
  padding: 0 10px 0 10px;
}

#tmplt-carousel .cmp-teaser .cmp-teaser__description
{
  font: normal normal 600 16px/22px Source Sans Pro;
  letter-spacing: -0.42px;
  color: #FFFFFF;
  margin-top: 20px;
  display: inline-block;
}

#tmplt-carousel .cmp-teaser__image,
#tmplt-carousel .cmp-teaser__image .cmp-image,
#tmplt-carousel .cmp-teaser__image .cmp-image .cmp-image__image {
  height: 200px;
}

#tmplt-carousel .cmp-teaser__image img {
  margin-top: 0;
}

#tmplt-carousel .carousel {
  height: 200px;
}

#tmplt-carousel .cmp-carousel .cmp-carousel__actions {
  position: absolute;
  bottom: 10px;
  right: 50px;
  /* z-index: 2; */
}

#tmplt-carousel .cmp-carousel__indicators {
  position: relative;
  top: -16px;
}

#tmplt-carousel .cmp-carousel__indicators li {
  cursor: pointer;
}

#tmplt-carousel {
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  #tmplt-carousel .cmp-teaser .cmp-teaser__title
  {
    font: normal normal bold 30px/38px Source Sans Pro;
    letter-spacing: -0.81px;
  }

  #tmplt-carousel .cmp-teaser .cmp-teaser__description
  {
    font: normal normal 600 18px/25px Source Sans Pro;
    letter-spacing: -0.47px;
  }

  #tmplt-carousel .cmp-teaser .cmp-teaser__description p {
    font: normal normal 600 16px/22px Source Sans Pro;
    letter-spacing: -0.42px;
    color: #FFFFFF;
    padding: 0 10px 0 10px;
  }

  #tmplt-carousel .cmp-teaser__image,
  #tmplt-carousel .cmp-teaser__image .cmp-image,
  #tmplt-carousel .cmp-teaser__image .cmp-image .cmp-image__image {
    height: 350px;
  }

  #tmplt-carousel .carousel {
    height: 350px;
  }
}

@media screen and (min-width: 1366px) {
  #tmplt-carousel .cmp-teaser__image,
  #tmplt-carousel .cmp-teaser__image .cmp-image,
  #tmplt-carousel .cmp-teaser__image .cmp-image .cmp-image__image {
    height: 500px;
  }

  #tmplt-carousel .carousel {
    height: 500px;
  }
}

@media screen and (max-width: 1024px) {
  #tmplt-carousel .cmp-teaser .cmp-teaser__content
  {
    max-width: var(--prime-container-max-width-tablet);
    width: var(--prime-container-width);
  }
}

@media screen and (max-width: 414px) {
  #tmplt-carousel .cmp-teaser .cmp-teaser__content
  {
    width: 90%;
    max-width: 100%;
  }
}
