@import "./variables.css";

.almButton {
  box-sizing: border-box;
  border-radius: 24px;
  cursor: pointer;
  display: block;
  font-size: var(--prime-font-size-16);
  font-weight: 600;
  min-height: 28px;
  min-width: 50px;
  padding: 5px 15px;
  border: 2px solid var(--prime-color-white);
}
.almButton:focus-within,
.almButton:focus-visible {
  outline: none;
}
.primary {
  color: var(--prime-color-white);
  background-color: var(--prime-color-primary);
  border-color: var(--prime-color-primary);
}
.primary:enabled:hover,
.primary:enabled:focus {
  background-color: var(--prime-color-primary-hover);
  border-color: var(--prime-color-primary-hover);
}

.primary:disabled {
  background: var(--prime-color-nc7);
  border-color: var(--prime-color-nc7);
  color: var(--prime-color-nc8);
  cursor: not-allowed;
}

.secondary {
  color: var(--prime-color-primary);
  background-color: var(--prime-color-white);
  border-color: var(--prime-color-primary);
}

.secondary:enabled:hover,
.secondary:enabled:focus {
  background-color: var(--prime-color-nc9);
  border-color: var(--prime-color-primary-hover);
  color: var(--prime-color-primary-hover);
}

.secondary:disabled {
  background: var(--prime-color-white);
  border-color: var(--prime-color-nc7);
  color: var(--prime-color-nc8);
  cursor: not-allowed;
}
