/**
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import "../../../styles/variables.css";

.actionContainer {
  margin-bottom: 20px;
  min-width: 280px;
}
.commonButton {
  width: 100%;
}

.buyNowContainer {
  background: var(--prime-color-nc4);
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px;
}

.crsStsButtonPreBookSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.backgroundButton {
  flex: 1 1 auto;
}
.previewButton {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

.preBmSeperator {
  width: 10px;
}

.commonContainer {
  padding-bottom: 20px;
  display: flex;
  width: 100%;
}
.icon,
.altLangIcon {
  margin-right: 10px;
  margin-left: 5px;
}
.icon svg,
.altLangIcon svg {
  fill: var(--prime-icon-color);
  width: 26px;
  height: 26px;
}

.altLangIcon {
  margin-top: 8px;
}

.icon,
.sendIcon {
  margin-right: 10px;
  margin-left: 5px;
}
.icon svg,
.sendIcon svg {
  stroke: var(--prime-icon-color);
  width: 26px;
  height: 26px;
  fill: transparent;
  stroke-width: 2;
}

.sendIcon {
  margin-top: 8px;
}


.icon,
.instanceIcon {
  margin-right: 10px;
  margin-left: 5px;
}
.icon svg,
.instanceIcon svg {
  stroke: var(--prime-icon-color);
  width: 26px;
  height: 26px;
  fill: transparent;
}

.instanceIcon {
  margin-top: 8px;
}

.minimumCriteria {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 5px;
  color: var(--prime-icon-color);
}
.mandatory {
  min-width: 25px;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 3px;
  text-align: center;
  color: var(--prime-icon-color);
}
.innerContainer {
  margin-top: 3px;
  font-size: var(--prime-font-size-14);
}
.label {
  font-size: var(--prime-font-size-14);
  color: var(--prime-color-nc5);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
}
.bottomContainer {
  margin-top: 2rem;
  min-width: 280px;
  width: 100%;
}
.unenrollButton {
  color: var(--prime-color-black);
  background-color: var(--prime-color-nc4);
  border-color: var(--prime-color-primary) !important;
  width: 100%;
  font-family: "source-sans-pro";
}
.instanceName {
  color: var(--prime-color-nc3);
}
.errorText {
  font-size: var(--prime-font-size-14);
  color: var(--prime-error-color);
  font-weight: var(--prime-font-weight-600);
  padding-top: 5px;
}
.subtleText {
  font-size: var(--prime-font-size-14);
  color: var(--prime-color-nc5);
  overflow: hidden;
  padding-bottom: 5px;
  font-family: "source-sans-pro";
}
.authorContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.authors {
  display: flex;
}
.authorName {
  margin: 0;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.resourceName {
  display: flex;
  flex-direction: column;
  color: var(--prime-color-primary);
  word-break: break-all;
}

.badge svg {
  transform: scale(1.5);
  fill: var(--prime-icon-color);
}
.moduleCompleted {
  font-size: var(--prime-font-size-20);
  width: 25px;
  margin-right: 10px;
}
.authors img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.supplymentaryLoName {
  display: inline-block;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--prime-color-primary);
  text-decoration: none;
}

.allInstances {
  display: block;
  overflow: hidden;
  color: var(--prime-color-primary);
  text-decoration: none;
  font-size: var(--prime-font-size-14);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}

.mangerPendingApprovalText {
  text-align: center;
  color: var(--prime-color-nc3);
  font-size: var(--prime-font-size-14);
  margin: 5px 0;
}

.textOr {
  text-align: center;
  color: var(--prime-color-nc3);
  font-size: var(--prime-font-size-16);
  margin: 5px 0;
}

.cpauthorcircle {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 200px;
  display: inline-block;
  height: 36px;
  width: 36px;
  vertical-align: top;
}

.submitRatingBox {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--prime-color-nc4);
  margin-bottom: 20px;
}

.ratingSubmitButton {
  align-self: center;
  border-width: thin !important;
  font-weight: 400 !important;
}

.ratingHeading {
  color: var(--prime-color-nc3);
  margin-bottom: 0;
}

.borderContainer {
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 5px;
  background: #fff;
  min-width: 280px !important;
}

.altLang {
  font-family: "source-sans-pro";
  padding-top: 10px;
  color: var(--prime-color-nc3);
}
.skillsText {
  color: var(--prime-color-nc3);
  font-family: "source-sans-pro";
}
.bookMark {
  border: 0.1rem solid var(--prime-color-primary);
  background-color: transparent;
  align-items: center;
  min-width: 280px !important;
  border-radius: 24px;
  font-size: var(--prime-font-size-14);
  font-weight: 400;
  min-height: 30px;
  color: var(--prime-color-black) !important;
  cursor: pointer;
  font-family: "source-sans-pro";
  display: flex;
  justify-content: center;
}
.bookMark:hover,
.bookMark:focus,
.bookMark:focus-visible {
  background: var(--prime-color-nc4);
}

.bookMarkText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

.bookMarkIcon svg {
  fill: var(--prime-color-primary);
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.deadlines {
  width: inherit;
}

.centerAlign {
  text-align: center;
}

.dialogBoxMessage {
  padding-bottom: 10px;
}

.dialogBoxColon {
  padding-left: 4px;
  padding-right: 4px;
}

.warningIcon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: bottom;
}

.courseListInFlexLp{
  margin-bottom: 15px;
}

.flexLpDialogList{
  padding-left: 15px;
}

.notSelected {
  color: #f9d171;
}

@media screen and (max-width: 450px) {
  .container .commonContainer {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .container .commonContainer:last-child {
    padding-bottom: 0;
  }
  .bookMark {
    display: none;
  }
  .bookMarkText {
    display: none;
  }
  .bookMarkIcon {
    display: none;
  }
  .preBmSeperator{
    display: none;
  }
  .bookmarkContainer{
    display: none;
  }
  .previewButton {
    display: none;
  }
}
