<section class="news-section">
  <div class="news-section-newsItem">
    <h2 class="title">${properties.section1Title}</h2>
    <span class="description">${properties.section1Description}</span>

    <div class="link">
      <a href="${properties.section1Link}" style="padding: 15px">View More</a>
    </div>
  </div>

  <div class="news-section-newsItem">
    <h2 class="title">${properties.section2Title}</h2>
    <span class="description">${properties.section2Description}</span>

    <div class="link">
      <a href="${properties.section2Link}">View More</a>
    </div>
  </div>

  <div class="news-section-newsItem">
    <h2 class="title">${properties.section3Title}</h2>
    <span class="description">${properties.section3Description}</span >

    <div class="link">
      <a href="${properties.section3Link}" style="padding: 15px">View More</a>
    </div>
  </div>
</section>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='learning.site,apps.alm.components.newssection'}"/>