<section class="news-section">

    <div class="news-section-newsItem">
        <span class="title">Best Fin Ease educational resources</span><br>
        <span class="description">Videos, webinars and education programs to improve your skills and knowledge.</span>
        
        <div class="link">
            <a href="https://www.google.com" style="padding: 15px;">View More</a>
        </div>      
    </div>

    <div class="news-section-newsItem">
        <span class="title">Collection of Courses, Certificates…</span><br>
        <span class="description">Hundreds of courses covering every feature of Finease products makes sure you learn well and make best use of products.</span>
        
        <div class="link">
            <a href="https://www.google.com">View More</a>
        </div>  
    </div>

    <div class="news-section-newsItem">
        <span class="title">Finease Academy, our journey!</span>
        <span class="description">Read along to know more about how we started with Finease Academy and how it helps millions to become successful in what they do everyday.</span> 
        
        <div class="link">
            <a href="https://www.google.com" style="padding: 15px;">View More</a>
        </div>  
    </div>

</section>