<section class="news-section" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">

    <div class="news-section-news1" style="position: relative; flex: 1; background-color: #f7f7f7; height: 240px; margin-right: 15px;">
        <span>Best Fin Ease educational resources</span><br>
        <span>Videos, webinars and education programs to improve your skills and knowledge.</span>
        
        <div style="border: 2px solid #306EB5; border-radius: 16px; position: absolute; bottom: 30px; right: 30px;">
            <a href="https://www.google.com" style="padding: 15px;">View More</a>
        </div>      
    </div>

    <div class="news-section-news2" style="position: relative; flex: 1; background-color: #f7f7f7; height: 240px; margin-right: 15px;">
        <span>Collection of Courses, Certificates…</span><br>
        <span>Hundreds of courses covering every feature of Finease products makes sure you learn well and make best use of products.</span>
        
        <div style="border: 2px solid #306EB5; border-radius: 16px; position: absolute; bottom: 30px; right: 30px;">
            <a href="https://www.google.com" style="padding: 15px;">View More</a>
        </div>  
    </div>

    <div class="news-section-news2" style="position: relative; flex: 1; background-color: #f7f7f7; height: 240px; margin-right: 15px;">
        <span>Finease Academy, our journey!</span>
        <span>Read along to know more about how we started with Finease Academy and how it helps millions to become successful in what they do everyday.</span> 
        
        <div style="border: 2px solid #306EB5; border-radius: 16px; position: absolute; bottom: 30px; right: 30px;">
            <a href="https://www.google.com" style="padding: 15px;">View More</a>
        </div>  
    </div>

</section>