@import "../../styles/variables.css";

.commonContainer {
  display: flex;
  width: 100%;
}

.ratingSubmitButton {
  align-self: center;
  border-width: thin !important;
  font-weight: 400;
}
.submitButton {
  margin-top: 20px;
}
.ratingSubmitButton:hover {
  color: var(--prime-color-white);
  background-color: var(--prime-color-primary);
  border-color: var(--prime-color-primary);
  border-radius: 3rem;
}

.ratingHeading {
  margin-bottom: 5px;
  margin-top: 0px;
  padding-left: 5px;
}

.submitRating {
  justify-content: space-between;
}

.overviewStars {
  transform: scale(2);
}

.ratingSuccessfullySubmittedSvg {
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
}

.ratingSubmittedSuccessfullyDialog {
  display: flex;
  color: var(--prime-color-nc3);
}

.rateTheTrainingBlock {
  padding-left: 5px;
}

.srOnly {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

@media screen and (max-width: 450px) {
  .ratingHeading {
    font-size: var(--prime-font-size-16);
  }

  .ratingSubmittedSuccessfullyDialog {
    font-size: var(--prime-font-size-14);
  }
}
