<div class="alm-header-cont">

    <!-- Block for mobile immersive bar -->
    <img class="alm-header-menu" src="/content/dam/aem-learn-components/site/ShowMenu.svg" ></img>

    <!-- block for image left align -->
    <img class="alm-header-logo" src="/content/dam/aem-learn-components/site/lrng-logo.png" ></img>

    <!-- block for navigation -->
    <ul class="alm-header-navigation">
        <li><a href="/content/aem-learn-components/language-masters/en/home.html">Home</a></li>
        <li><a href="/content/aem-learn-components/language-masters/en/learning.html">Learning</a></li>
        <li><a href="/content/aem-learn-components/language-masters/en/skills.html">Community</a></li>
        <li><a href="/content/aem-learn-components/language-masters/en/support.html">Support</a></li>
    </ul>

    <!-- block for icons right align -->
    <div class="alm-header-icons">
        <sly data-sly-resource="${resource.path @ resourceType='aem-learn-components/components/notification', appendPath='/*'}"/>
        <!-- <img class="alm-header-notification" src="/content/dam/aem-learn-components/site/Smock_Bell.png" ></img> -->
        <img class="alm-header-profile" src="" ></img>
        <img class="alm-header-down" src="/content/dam/aem-learn-components/site/ChevronUp.svg" ></img>
    </div>
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='aem-learn-components.site,apps.alm.components.header'}"/>