<nav class="alm-header-vertical-nav">
    <div class="vertical-nav-cont">
        <ul class="vert-nav-profile-cont">
            <li>
                <button class="vert-nav-close-button">
                    <span class="vert-nav-close-icon">
                        <img src="/content/dam/aem-learn-components/site/Smock_Close.png" />
                    </span>
                </button>
            </li>
            <li><img class="vert-nav-profile-image" src="https://cpcontents.adobe.com/apacprod/protected/account/66/accountassets/66/userassets/14853548/1647432540855_Fidget.png?cp_oauth_jwt=eyJhbGciOiJIUzI1NiJ9.eyJwIjoidXJsIiwicmFuZCI6IjkyNzhjZWU0LTRhYzktNDk1NS1hOWVhLTAzNjJmNzZkODA1NyIsInYiOiIxIiwib3JpZ2luYWxVcmxIYXNoIjoiZDQ4NGJhZDFkYTFhNWEwMWI0NmJjZGEyZGI2ZDZlYTI0ZTM2ZDMwMiIsImV4cCI6MTY0ODA1NTkxNywicmlkIjoiNjQ4Mjc0NCIsImlhdCI6MTY0NzQ1MTExNywiY2lkIjoiMTQ4MyJ9.EZtng-WNuDSCFuRyrVprowEzL1Zi8Hu9NZmDv__9XeI" /></li>
            <li><span class="vert-nav-profile-name"></span></li>
            <li><a href="/content/aem-learn-components/language-masters/en/profile.html">Your Profile</a></li> 
        </ul>

        <ul>
            <li class="vert-nav-separator"></li>
            <li><a href="/content/aem-learn-components/language-masters/en/home.html">Home</a></li>
            <li class="vert-nav-separator"></li>
            <li><a href="/content/aem-learn-components/language-masters/en/learning.html">Learning</a></li>
            <li class="vert-nav-separator"></li>
            <li><a href="/content/aem-learn-components/language-masters/en/skills.html">Community</a></li>
            <li class="vert-nav-separator"></li>
            <li><a href="/content/aem-learn-components/language-masters/en/support.html">Support</a></li>
            <li class="vert-nav-separator"></li>
        </ul>
    </div>
</nav>

<div class="alm-header-cont" data-path="${resource.path}">

    <!-- Block for mobile immersive bar -->
    <img class="alm-header-menu" src="/content/dam/aem-learn-components/site/ShowMenu.svg" ></img>

    <!-- block for image left align -->
    <img class="alm-header-logo" src="/content/dam/aem-learn-components/site/lrng-logo.png" ></img>

    <!-- block for navigation -->
    <ul class="alm-header-navigation">
        <li><a href="/content/aem-learn-components/language-masters/en/home.html">Home</a></li>
        <li><a href="/content/aem-learn-components/language-masters/en/learning.html">Learning</a></li>
        <li><a href="/content/aem-learn-components/language-masters/en/skills.html">Community</a></li>
        <li><a href="/content/aem-learn-components/language-masters/en/support.html">Support</a></li>
    </ul>

    <!-- block for icons right align -->
    <div class="alm-header-icons">
        <sly data-sly-resource="${resource.path @ resourceType='aem-learn-components/components/notification', appendPath='/*'}"/>
        <!-- <img class="alm-header-notification" src="/content/dam/aem-learn-components/site/Smock_Bell.png" ></img> -->
        <img class="alm-header-profile" src="" ></img>
        <img class="alm-header-down" src="/content/dam/aem-learn-components/site/ChevronUp.svg" ></img>
    </div>
</div>

<div class="alm-header-profile-options">
    <ul>
        <li><span><a href="/content/aem-learn-components/language-masters/en/profile.html">Your Profile</a></span></li>
        <li><span>Log Out</span></li>
    </ul>
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='aem-learn-components.site,apps.alm.components.header'}"/>