.primeBoardOptionsWrapper {
    display:flex;
}

.primeBoardFilters {
    margin-top: 50px;
    border-radius: 2px;
    opacity: 1;
    max-width: 716px;
    display:flex;
}

@media (max-width: 414px) {
    .primeBoardFilters {
        padding: 0px;
    }
}