/**
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import "../../../styles/variables.css";
.overviewcontainer {
  display: flex;
  width: 100%;
}
.moduleContainer {
  padding-bottom: 12px;
  color: var(--prime-color-black);
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid var(--prime-color-neutral-1);
}
.notesActions {
  display: inline-flex;
  position: absolute;
  right: 0;
  gap: 24px;
}
.notesActions p {
  cursor: pointer;
  color: var(--prime-color-link);
  display: flex;
  align-items: center;
}

.notesNotPresent {
  color: var(--prime-color-neutral-1);
  padding-bottom: 10px;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: var(--prime-font-size-18);
}
.time {
  color: var(--prime-color-neutral-1);
}

.loResourceType {
  font-weight: var(--prime-font-weight-600);
  color: var(--prime-color-black);
}

.tablist {
  width: auto;
  padding-bottom: 24px;
}

.tablistInsideParentLO {
  padding-top: 12px;
}

.hide {
  display: none !important;
}

.tablist > div[role="tablist"] {
  border-bottom-color: var(--prime-color-neutral-3);
  border-radius: 1px;
  max-width: fit-content !important;
}

.tablist div[role="presentation"] {
  height: 2px;
  border-radius: 1px;
}

.tablist div[role="tab"] > span {
  cursor: pointer;
}
/* CSS override for inside LP */
.isPartOfParentLO {
  padding-left: 80px;
}
.isPartOfParentLO .tablist {
  padding-left: 10px;
}
.isPartOfParentLO .tabPanels {
  border: none;
}
.tabPanels {
  border: none;
  position: relative;
}
.panelSeperator {
  border: 0.5px solid var(--prime-color-neutral-1);
  margin: 12px 0px 16px 0px;
}
.icon,
.mailIcon,
.downloadIcon {
  margin-right: 7px;
  align-items: center;
  display: flex;
}
.icon svg,
.mailIcon svg,
.downloadIcon svg {
  fill: var(--prime-color-link);
  width: 18px;
  height: 18px;
}

.tabsDisabled {
  opacity: 0.5;
}

.noModulesContainer {
  width: 100%;
  border-radius: 10px !important;
  background-color: var(--prime-color-neutral-3) !important;
  border: none !important;
  margin-top: 12px;
}

.noModulesContainer [class$="spectrum-InLineAlert-grid"] {
  display: flex !important;
  flex-direction: column;
  gap: 14px;
}

.noModulesContainerHeader {
  font-weight: var(--prime-font-weight-700);
}
