.primeAddPostSectionWrapper {
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}

.primeAddPostSection {
    border-radius: 2px;
    opacity: 1;
    padding: 10px 25px;
    width: 100%;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
    max-width: 716px;
    opacity: 1;
    position: relative;
    font-size: 12px;
    color: #999999;
    display: flex;
}

.primeAddPostButtonMobile {
    display: none;
}

@media (max-width: 414px) {
    .primeAddPostSectionWrapper {
        display:none;
    }
    .primeAddPostButtonMobile {
        display: flex;
        z-index: 50;
        position: relative;
    }
}

.primeAddPostMessage {
    line-height: 30px;
}
.primeAddPostButtonDiv {
    margin-left: auto;
}