@import "../../styles/variables.css";

.alertbackdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4500;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  overflow: auto;
  box-shadow: 0;
}

.alert {
  display: flex;
  justify-content: flex-start;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
}

.dialog {
  color: var(--prime-color-nc5);
  background-color: var(--prime-color-nc1);
  border: 4px solid var(--prime-color-nc3);
  border-radius: 0;
  max-width: 60rem;
  min-height: 7rem;
  min-width: 18.75rem;
  height: 7rem;
  padding: 1rem;
  position: relative;
  top: 18rem;
  font-size: var(----prime-font-size-16);
}

.alertbackdrop .alert .error {
  color: var(--prime-error-color) !important;
}

.alertbackdrop .alert .alertIcon {
  width: 50px;
  height: 65px;
  margin: 0px 20px;
}

.alertbackdrop .alert .success {
  color: var(--prime-color-primary);
}

.alertIconType {
  background-repeat: no-repeat;
  float: left;
  display: flex;
  align-items: center;
}

.alertMessage {
  display: inline-block;
  vertical-align: middle;
  max-width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
}
