/*
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.alm-skills-container {
    width: 374px;
    margin: 0 auto;
}

.alm-skills-container .cmp-image .cmp-image__image {
    margin-top: 0px;
    margin-bottom: 0px;
}

.alm-skills-container .cmp-image .cmp-image__image {
    width: 374px;
    height: 153px;
}

.alm-skills-container .product 
{
    min-height: 100px;
    min-width: 100px;
    height: 153px;
    position: relative;
    margin-top: 7px;
    margin-bottom: 7px;
    background: black;
}

.alm-skills-container .product img {
    cursor: pointer;
    opacity: 0.7;
}

#alm-skills-header
{
  background: #306EB5 0% 0% no-repeat padding-box;
  height: 222px;
  color: #FFFFFF;
  font: normal normal normal 16px/26px Source Sans Pro;
  margin-bottom: 40px;
}

#alm-skills-header .text
{
    width: 374px;
    margin: 0 auto;
    padding-top: 10px;
}

#alm-skills-header .heading
{
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 5px;
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .alm-skills-container {
        width: 930px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 100px;
    }

    .alm-skills-container .product {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #alm-skills-header
    {
        height: 150px;
    }

    #alm-skills-header .text
    {
        width: 930px;
        margin: 0 auto;
    }

    .alm-skills-container.alm-skills-rows--4 .cmp-image .cmp-image__image {
        width: 210px;
        height: 153px;
    }

    .alm-skills-container.alm-skills-rows--4 .product 
    {
        height: 153px;
    }

    .alm-skills-container.alm-skills-rows--4.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 210px;
    }

    .alm-skills-container.alm-skills-rows--3 .cmp-image .cmp-image__image {
        width: 290px;
        height: 206px;
    }

    .alm-skills-container.alm-skills-rows--3 .product 
    {
        height: 206px;
    }

    .alm-skills-container.alm-skills-rows--3.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 290px;
    }

    .alm-skills-container.alm-skills-rows--2 .cmp-image .cmp-image__image {
        width: 450px;
        height: 314px;
    }

    .alm-skills-container.alm-skills-rows--2 .product 
    {
        height: 314px;
    }

    .alm-skills-container.alm-skills-rows--2.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 450px;
    }
}

@media screen and (min-width: 1366px) {
    .alm-skills-container {
        width: 1084px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 100px;
    }

    #alm-skills-header .text
    {
        width: 1084px;
        margin: 0 auto;
    }

    .alm-skills-container.alm-skills-rows--4 .cmp-image .cmp-image__image {
        width: 256px;
        height: 186px;
    }

    .alm-skills-container.alm-skills-rows--4 .product 
    {
        height: 186px;
    }

    .alm-skills-container.alm-skills-rows--4.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 256px;
    }

    .alm-skills-container.alm-skills-rows--3 .cmp-image .cmp-image__image {
        width: 348px;
        height: 250px;
    }

    .alm-skills-container.alm-skills-rows--3 .product 
    {
        height: 250px;
    }

    .alm-skills-container.alm-skills-rows--3.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 348px;
    }

    .alm-skills-container.alm-skills-rows--2 .cmp-image .cmp-image__image {
        width: 532px;
        height: 378px;
    }

    .alm-skills-container.alm-skills-rows--2 .product 
    {
        height: 378px;
    }

    .alm-skills-container.alm-skills-rows--2.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 532px;
    }
}

.aem-Grid-newComponent {
    width: 100%;
}

.cmp-image .cmp-image__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font: normal normal 600 18px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 1px 2px #00000099;
    text-transform: none;
} 

.aem-Grid::before, .aem-Grid::after {
  content: none;
}