node_modules
dist
coverage
rollup.config.js
assets
src/i18n/strings
.eslintignore
.eslintrc.js
rollup.config.js
tsconfig.json
yarn.lock
*.log
Dockerfile*
docker-compose*
Jenkinsfile
test
tmp
README.md
.vscode
package.json
alm-commerce/*