@import "../../../styles/variables.css";

.headerContainer {
  padding: 10px;
  /* height: 140px; */
  /* border: 1px solid #c7c7c7; */
  cursor: pointer;
}
.headerContainer:hover {
  background-color: var(--prime-color-nc6);
}

.metadata {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  font-size: var(--prime-font-size-14);
}

.metadataContents {
  display: flex;
  align-items: center;
}

.metadata__separator {
  height: 13px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metadata__separator::before {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 2.5px;
  background: #fa6400;
}

.trainingDetailsContainer {
  display: flex;
}

.card {
  display: flex;
  align-items: flex-end;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 10px !important;
  flex: 0 0 auto;
  background-size: 50px !important;
}

.title {
  color: var(--prime-color-primary);
  cursor: pointer;
  font-size: var(--prime-font-size-14);
  text-decoration: none;
  font-weight: var(--prime-font-weight-600);
  line-height: 20px;
}
.type {
  font-size: var(--prime-font-size-14);
  line-height: 26px;
  letter-spacing: 0px;
  color: var(--prime-color-nc3);
  opacity: 1;
  margin: 0;
  text-transform: capitalize;
}

.description {
  margin: 8px 0;
  letter-spacing: 0px;
  opacity: 1;
  font-size: var(--prime-font-size-14);
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.authorNames {
  text-transform: lowercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.authorNames:first-letter {
  text-transform: uppercase;
}

.status {
  font-size: var(--prime-font-size-14);
  color: var(--prime-icon-color);
}

.mandatory {
  background: var(--prime-error-color);
  color: var(--prime-color-white);
  font-weight: var(--prime-font-weight-600);
  font-size: var(--prime-font-size-10);
  display: inline-block;
  margin-left: 5px;
  border-radius: 8px;
  padding: 1px 8px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/* override css for LP */
/* .isPartOfLP.headerContainer {
  border: 1px solid var(--prime-color-nc6);
  border-bottom: none;
} */

@media screen and (max-width: 414px) {
  .title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
