@import "../../../styles/variables.css";
.primeTrainingsContainer {
  /* display: flex; */
  flex-wrap: wrap;
  width: 100%;
}
.primeTrainingsList {
  display: flex;
  flex-wrap: wrap;
  align-self: self-start;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 20px;
}

.noResults {
  text-align: center;
  font-size: var(--prime-font-size-24);
}
.loader {
  margin: 20px 0;
}
.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  align-items: center;
}

.loadMoreButton {
  border: 2px solid var(--prime-color-primary)!important;
  color: var(--prime-color-primary)!important;
  background-color: var(--prime-color-white)!important;
  cursor: pointer;
}
.loadMoreButton:hover,
.loadMoreButton:focus,
.loadMoreButton:focus-visible {
  color: var(--prime-color-white);
  background-color: var(--prime-color-primary);
  border-color: var(--prime-color-primary);
  outline: none;
}
.loadMoreButton::after {
  /* border-radius: 0; */
}
