@import "../../styles/variables.css";

.header {
  height: 58px;
  width: 100%;
  position: relative;
  z-index: 10;
  background: var(--prime-color-nc1);
  height: 70px;
}

.footer {
  display: flex;
  position: relative;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  justify-content: center;
}

.footerMenu {
  list-style-type: none;
  display: flex;
  margin-top: 18px;
  margin-bottom: 50px;
}

.helpButton,
.helpButtonDisabled {
  border: none;
  background: transparent;
  color: var(--prime-color-link);
  font-family: inherit;
}

.helpButton {
  cursor: pointer;
}

.marginOnly {
  margin: 0 10px;
}
.footerSeparator {
  margin-left: 5px;
  margin-right: 5px;
  color: #fb704b;
}

.footerSeparator:after {
  content: "|";
}

@media (max-width: 820px) {
  .footer {
    max-width: 100%;
    padding: 0px 10px;
  }
}
