/**
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import "../../styles/variables.css";

.pageContainer {
  display: flex;
  flex-direction: column;
}
.profileHeader {
  text-align: left;
  font: normal normal bold 24px/17px Source Sans Pro;
  letter-spacing: 0.54px;
  color: var(--prime-color-nc1);
  opacity: 1;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
.userProfileContainer {
  background: var(--prime-color-nc5);
}
.userProfile {
  margin: 0 auto;
  padding: 40px 0;
}
.userProfile input {
  display: none;
}
.detailsContainer {
  display: flex;
}

.activeFieldButtonContainer {
  display: flex;
  justify-content: flex-end;
}
.saveActiveFieldButton {
  margin: 0 auto;
  padding: 10px 0;
  min-width: 500px;
}

.image {
  width: 164px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}
.profileImage {
  width: 100%;
  height: 164px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}
.imageWrapper {
  position: relative;
}

.deleteImage {
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.details {
  flex-direction: column;
  height: 164px;
  justify-content: center;
  display: flex;
}
.name {
  font-size: var(--prime-font-size-28);
  font-weight: bold;
  line-height: 17px;
  letter-spacing: 0.54px;
  color: var(--prime-color-nc1);
  opacity: 1;
  margin: 0 0 15px 0;
}
.email {
  font-size: var(--prime-font-size-20);
  font-weight: normal;
  line-height: 27px;
  letter-spacing: 0px;
  color: var(--prime-color-nc1);
  opacity: 1;
  margin: 0 0 10px 0;
}
.image .button {
  cursor: pointer;
  color: var(--prime-color-primary);
  font-size: var(--prime-font-size-14);
  font-weight: normal;
}
.image .button:hover,
.image .button:focus,
.image .button:focus-visible {
  color: var(--prime-color-primary);
  outline: none;
}

@media screen and (min-width: 1024px) {
  .userProfile,
  .activeFields {
    width: 930px;
  }

  .saveActiveFieldButton {
    width: 930px;
  }
}
@media screen and (min-width: 1366px) {
  .userProfile,
  .activeFields {
    width: 1084px;
  }

  .saveActiveFieldButton {
    width: 1084px;
  }
}

.editIcon {
  display: none;
}

.activeFieldsSaveOption:hover {
  cursor: pointer;
  background: #4283d0;
  color: #ffffff;
}

.activeFieldsSaveOption {
  padding: 8px 22px;
  height: 2px;
  border-radius: 22px;
  font-size: var(--prime-font-size-14);
  background: var(--prime-color-primary);
  color: #ffffff;
  opacity: 1;
  border: none;
  margin-top: 20px;
  font-weight: normal;
  margin-top: 50px;
  margin-bottom: 50px;
}
.primeStatusSvg {
  background: none;
  border: none;
  width: 35px;
  fill: currentColor;
  padding-left: 10px;
}

.progressArea {
  display: flex;
  width: 200px;
  margin-left: 20px;
}
.progressAreaMobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .userProfileContainer {
    padding-left: 20px;
  }
}

@media screen and (max-width: 414px) {
  .profileHeader {
    display: none;
  }

  .saveActiveFieldButton {
    padding-left: 20px;
  }

  .button .activeFieldsSaveOption {
    display: none;
  }
  .userProfileContainer {
    background-color: transparent;
  }
  .userProfile {
    padding: 0;
  }
  .detailsContainer {
    padding: 20px 20px 50px 20px;
    border-top: 2px solid var(--prime-color-nc6);
    border-bottom: 2px solid var(--prime-color-nc6);
  }
  .image {
    width: 54px;
    height: 54px;
    position: relative;
  }
  .editIcon {
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    min-width: 28px;
    min-height: 28px;
    padding: 0;
    background-color: var(--prime-color-primary);
    border-color: var(--prime-color-primary);
  }
  .editIcon :focus {
    background-color: var(--prime-color-primary);
    border-color: var(--prime-color-primary);
  }
  .editIcon svg {
    width: 16px;
    height: 16px;
  }
  .details {
    height: auto;
  }
  .name {
    font-size: var(--prime-font-size-20);
    line-height: 25px;
    color: var(--prime-color-nc1);
    opacity: 1;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .email {
    font-size: var(--prime-font-size-14);
    line-height: 18px;
    letter-spacing: 0px;
    color: var(--prime-color-nc3);
    opacity: 1;
  }
  .profileImage {
    width: 54px;
    height: 54px;
    margin-bottom: 0;
  }
  .primeStatusSvg {
    background: none;
    border: none;
    width: 100px;
    fill: currentColor;
    padding-left: 5px;
  }
  .progressArea {
    display: none;
  }
  .progressAreaMobile {
    display: flex;
    width: 80px;
    margin-left: 25px;
    margin-top: 10px;
  }
}
