/**
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import "../../../styles/variables.css";
.headerContainer {
  margin-bottom: 15px;
  padding-top: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  font-size: var(--prime-font-size-28);
  letter-spacing: 0px;
  color: var(--prime-color-black);
  margin: 0;
}
.searchHeader {
  font-size: var(--prime-font-size-24);
  font-weight: var(--prime-font-weight-400);
  max-width: 70%;
}
.queryText {
  font-weight: var(--prime-font-weight-700);
  margin-bottom: 5px;
}
.andText {
  color: var(--prime-color-black);
  margin: 0 5px;
}
.searchContainer {
  width: 265px;
}
.filtersAndListConatiner {
  display: flex;
  justify-content: space-between;
}
.filtersContainer {
  width: 240px;
}
.listContainer {
  width: calc(100% - 256px);
  padding-left: 52px;
}
.listContainer.full {
  width: 100%;
  padding-left: 0;
}

.searchAppliedContainer {
  display: flex;
  align-items: center;
}
.searchAppliedContainer p {
  display: flex;
  align-items: center;
}

.searchAppliedLabel {
  text-align: left;
  font-size: var(--prime-font-size-14);
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--prime-color-nc1);
  margin: 10px 0;
  display: flex;
}
.searchTextContainer {
  color: var(--prime-color-white);
  margin-left: 10px;
  background-color: var(--prime-color-nc3);
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  min-height: 22px;
  border-radius: 25px;
  min-width: 20px;
}
.searchText {
  margin-right: 10px;
}
.searchReset {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.button {
  display: none !important;
}
.closeIcon {
  display: none !important;
}
.loader {
  margin: 20px 0;
}

.pageContainer {
  max-width: var(--prime-catalog-container-max-width-desktop);
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .pageContainer {
    max-width: var(--prime-container-max-width-tablet);
    /* width: var(--prime-container-width); */
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .headerContainer {
    margin-bottom: 10px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .label {
    margin-bottom: 20px;
  }
  .searchContainer {
    width: 100%;
    align-items: center;
    padding: 0;
  }
  .button {
    cursor: pointer;
    border: 2px solid var(--prime-color-primary);
    color: var(--prime-color-primary);
    background-color: var(--prime-color-white);
    font-size: var(--prime-font-size-14);
    min-height: 28px;
    font-weight: normal;
    padding: 5px 12px;
    min-width: 70px;
    display: block !important;
    margin-bottom: 10px !important;
  }
  .button:hover,
  .button:focus,
  .button:focus-visible {
    color: var(--prime-color-white);
    background-color: var(--prime-color-primary);
    border-color: var(--prime-color-primary);
    outline: none;
  }
  .button svg {
    width: 14px;
    height: 14px;
    padding-left: 2px;
    top: 2px;
    position: relative;
  }
  .searchAppliedLabel {
    margin: 0;
    padding: 15px 0 5px 0;
  }
  .filtersContainer {
    left: 0;
    border: 1px solid var(--prime-color-white);
    border-radius: 1rem 1rem 0 0;
    background-color: var(--prime-color-white);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-100%, 0);
    -webkit-transition:
      transform 250ms ease-in-out,
      visibility 0ms linear 130ms;
    -moz-transition:
      transform 250ms ease-in-out,
      visibility 0ms linear 130ms;
    -ms-transition:
      transform 250ms ease-in-out,
      visibility 0ms linear 130ms;
    -o-transition:
      transform 250ms ease-in-out,
      visibility 0ms linear 130ms;
    transition:
      transform 250ms ease-in-out,
      visibility 0ms linear 130ms;
  }
  .listContainer {
    width: 100%;
    padding-left: 0;
  }
  .filtersContainer.onMobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--prime-color-white);
    z-index: 1;
    padding: 20px;
    overflow: auto;
    visibility: visible;
    pointer-events: auto;
    transform: translate(0, 0);
    -webkit-transition: transform 250ms ease-in 0ms;
    -moz-transition: transform 250ms ease-in 0ms;
    -ms-transition: transform 250ms ease-in 0ms;
    -o-transition: transform 250ms ease-in 0ms;
    transition: transform 250ms ease-in 0ms;
  }
  .teamsExtraTopMargin {
    margin-top: 30px;
  }
  .closeIcon {
    display: flex !important;
    margin-left: auto !important;
    min-width: auto !important;
    padding: 0 !important;
    min-height: 24px !important;
  }
  .pageContainer {
    width: 100%;
    max-width: var(--prime-container-max-width-mobile);
    padding: 0 20px;
  }
}

.catalogDescription {
  font-size: var(--prime-font-size-14);
  letter-spacing: 0;
  width: 58%;
}

.searchLink {
  font-size: var(--prime-font-size-16);
  line-height: 20.8px;
  margin-bottom: 5px;
  display: inline-block;
}
.searchLink a,
.searchLink a:visited {
  color: var(--prime-color-link);
}
.picker {
  min-height: 1px;
  padding: 0px 10px;
  height: 32px;
}

.sortAndChangeLayoutContainer {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  height: 32px;
  align-items: flex-start;
}

.viewButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 6px 6px;
  cursor: pointer;
  border: 1.5px solid transparent;
  background: none;

  svg {
    width: 18px;
    height: 18px;
  }
}

.selectedView {
  border: 1.5px solid var(--prime-color-primary);
  color: var(--prime-color-primary);
  border-radius: 4px;
}

.descriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.changeLayoutContainer {
  display: flex;
}

.sortText {
  padding-top: 4px;
}

.searchQuery {
  font-weight: var(--prime-font-weight-700);
}

.clearSearch {
  cursor: pointer;
  border: 0px;
  background-color: transparent;
  padding: 0px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .descriptionContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}
