/**
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import '../../../styles/variables.css';
.headerContainer {
  margin-bottom: 15px;
  padding-top: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.externalLearningBtn {
  display: flex;
  align-items: center;
  background: transparent;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  padding: 7px 12px;
  gap: 8px;
  min-width: fit-content;
  height: 32px;
  border-radius: 16px;
  justify-content: space-around;
  border: 2px solid var(--prime-color-black);
  color: var(--prime-color-black);
}
.mobileExternalLearning {
  padding: 8px 0 4px;
}
.mobileExternalLearning .externalLearningBtn {
  gap: 6px;
  padding-right: 6px;
  padding-left: 6px;
}
.label {
  font-size: var(--prime-font-size-28);
  letter-spacing: 0px;
  color: var(--prime-color-black);
  margin: 0;
}
.searchHeader {
  font-size: var(--prime-font-size-24);
  font-weight: var(--prime-font-weight-400);
  max-width: 70%;
}
.queryText {
  font-weight: var(--prime-font-weight-700);
  margin-bottom: 5px;
}
.andText {
  color: var(--prime-color-black);
  margin: 0 5px;
}
.searchContainer {
  width: 265px;
}
.filtersAndListConatiner {
  display: flex;
  justify-content: space-between;
}
.filtersContainer {
  width: 240px;
}
.listContainer {
  width: calc(100% - 256px);
  padding-left: 52px;
}
.listContainer.full {
  width: 100%;
  padding-left: 0;
}

.searchAppliedContainer {
  display: flex;
  align-items: center;
}
.searchAppliedContainer p {
  display: flex;
  align-items: center;
}
.searchAppliedLabel {
  text-align: left;
  font-size: var(--prime-font-size-14);
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--prime-color-nc1);
  margin: 10px 0;
  display: flex;
}
.searchTextContainer {
  color: var(--prime-color-white);
  margin-left: 10px;
  background-color: var(--prime-color-nc3);
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  min-height: 22px;
  border-radius: 25px;
  min-width: 20px;
}
.searchText {
  margin-right: 10px;
}
.searchReset {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.filterAndSortButton {
  display: none;
  border: none;
}
.closeIcon {
  display: none !important;
}
.loader {
  margin: 20px 0;
}
.pageContainer {
  max-width: var(--prime-catalog-container-max-width-desktop);
  margin: 0 auto;
}
.filterAndSort {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.catalogDescription {
  font-size: var(--prime-font-size-14);
  letter-spacing: 0;
  padding-right: 1rem;
  max-width: 980px;
}
.searchLink {
  font-size: var(--prime-font-size-16);
  line-height: 20.8px;
  margin-bottom: 5px;
  display: inline-block;
}
.searchLink a,
.searchLink a:visited {
  color: var(--prime-color-link);
}
.picker {
  min-height: 1px;
  padding: 0px 10px;
  height: 32px;
}
.sortAndChangeLayoutContainer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.sortContainer {
  display: flex;
  align-items: center;
}
.viewButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 6px 6px;
  cursor: pointer;
  border: 1.5px solid transparent;
  background: none;
  color: inherit;
  svg {
    width: 18px;
    height: 18px;
  }
}
.selectedView {
  border: 1.5px solid var(--prime-color-primary);
  color: var(--prime-color-primary);
  border-radius: 4px;
}
.descriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6px 0;
}
.changeLayoutContainer {
  display: flex;
}
.sortText {
  white-space: nowrap;
}
.searchQuery {
  font-weight: var(--prime-font-weight-700);
}
.clearSearch {
  cursor: pointer;
  border: 0px;
  background-color: transparent;
  padding: 0px;
  margin-left: 10px;
}

.clearSearch.withQuery {
  svg {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .pageContainer {
    max-width: var(--prime-container-max-width-tablet);
    /* width: var(--prime-container-width); */
    padding: 0;
  }
  .searchContainer {
    display: none;
  }
  .catalogDescription {
    width: 100%;
  }
  .mobileButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .filterAndSortContainer {
    display: flex;
  }
  .filterAndSortButton {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 6px 6px;
    cursor: pointer;
    background: none;
    color: inherit;
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .filterCount {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    top: 0.25rem;
    right: 0.25rem;
    background-color: var(--prime-color-primary);
    border-radius: 50%;
    padding: 0.25rem;
    height: 0.75rem;
    width: 0.75rem;
    color: var(--prime-color-white);
    z-index: 1;
  }
  .filterAndSortButton:hover,
  .filterAndSortButton:focus,
  .filterAndSortButton:focus-visible {
    border: 1.5px solid var(--prime-color-primary);
    color: var(--prime-color-primary);
    border-radius: 4px;
  }
  .filtersContainer {
    left: 0;
    top: 0;
    z-index: 16;
    position: fixed;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .sortContainer {
    display: none;
  }
  .listContainer {
    width: 100%;
    padding-left: 0;
  }
  .pageContainer {
    width: 100%;
    max-width: var(--prime-container-max-width-mobile);
    padding: 0 20px;
  }
}

@media screen and (max-width: 450px) {
  .headerContainer {
    margin-bottom: 10px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .label {
    margin-bottom: 20px;
  }
  .searchContainer {
    display: none;
  }
  .mobileButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .filterAndSortContainer {
    display: flex;
  }
  .filterAndSortButton {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 6px 6px;
    cursor: pointer;
    background: none;
    color: inherit;
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .filterCount {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    top: 0.25rem;
    right: 0.25rem;
    background-color: var(--prime-color-primary);
    border-radius: 50%;
    padding: 0.25rem;
    height: 0.75rem;
    width: 0.75rem;
    color: var(--prime-color-white);
    z-index: 1;
  }
  .filterAndSortButton:hover,
  .filterAndSortButton:focus,
  .filterAndSortButton:focus-visible {
    border: 1.5px solid var(--prime-color-primary);
    color: var(--prime-color-primary);
    border-radius: 4px;
  }
  .searchAppliedLabel {
    margin: 0;
    padding: 15px 0 5px 0;
  }
  .sortContainer {
    display: none;
  }
  .filtersContainer {
    left: 0;
    top: 0;
    z-index: 16;
    position: fixed;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .listContainer {
    width: 100%;
    padding-left: 0;
  }
  .teamsExtraTopMargin {
    margin-top: 30px;
  }
  .closeIcon {
    display: flex !important;
    margin-left: auto !important;
    min-width: auto !important;
    padding: 0 !important;
    min-height: 24px !important;
  }
  .pageContainer {
    width: 100%;
    max-width: var(--prime-container-max-width-mobile);
    padding: 0 20px;
  }
  .filterAndSort {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .catalogDescription {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .descriptionContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}
