.alm-skills-container {
    width: 374px;
    margin: 0 auto;
}

.alm-skills-container .cmp-image .cmp-image__image {
    width: 374px;
    height: 153px;
}

.alm-skills-container .product 
{
    min-height: 100px;
    min-width: 100px;
    position: relative;
}

.alm-skills-container .product img {
    cursor: pointer;
}

#alm-skills-header
{
  background: #306EB5 0% 0% no-repeat padding-box;
  height: 222px;
  color: #FFFFFF;
  font: normal normal normal 16px/26px Source Sans Pro;
  margin-bottom: 40px;
}

#alm-skills-header .text
{
    width: 374px;
    margin: 0 auto;
    padding-top: 10px;
}

#alm-skills-header .heading
{
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .alm-skills-container {
        width: 930px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
    }

    #alm-skills-header
    {
        height: 150px;
    }

    #alm-skills-header .text
    {
        width: 930px;
        margin: 0 auto;
    }

    .alm-skills-container.alm-skills-rows--4 .cmp-image .cmp-image__image {
        width: 210px;
        height: 153px;
    }

    .alm-skills-container.alm-skills-rows--4.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 210px;
    }

    .alm-skills-container.alm-skills-rows--3 .cmp-image .cmp-image__image {
        width: 290px;
        height: 206px;
    }

    .alm-skills-container.alm-skills-rows--3.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 290px;
    }

    .alm-skills-container.alm-skills-rows--2 .cmp-image .cmp-image__image {
        width: 450px;
        height: 314px;
    }

    .alm-skills-container.alm-skills-rows--2.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 450px;
    }
}

@media screen and (min-width: 1366px) {
    .alm-skills-container {
        width: 1084px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #alm-skills-header .text
    {
        width: 1084px;
        margin: 0 auto;
    }

    .alm-skills-container.alm-skills-rows--4 .cmp-image .cmp-image__image {
        width: 256px;
        height: 186px;
    }

    .alm-skills-container.alm-skills-rows--4.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 256px;
    }

    .alm-skills-container.alm-skills-rows--3 .cmp-image .cmp-image__image {
        width: 348px;
        height: 250px;
    }

    .alm-skills-container.alm-skills-rows--3.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 348px;
    }

    .alm-skills-container.alm-skills-rows--2 .cmp-image .cmp-image__image {
        width: 532px;
        height: 378px;
    }

    .alm-skills-container.alm-skills-rows--2.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
        width: 532px;
    }
}

/* .alm-skills-container.alm-skills-rows--4 .product.image.aem-GridColumn.aem-GridColumn--default--12 {
    display: inline-block;
    width: 25%;
}

.alm-skills-container.alm-skills-rows--3 .product.image.aem-GridColumn.aem-GridColumn--default--12 {
    display: inline-block;
    width: 33%;
}

.alm-skills-container.alm-skills-rows--2 .product.image.aem-GridColumn.aem-GridColumn--default--12 {
    display: inline-block;
    width: 50%;
}

 @media screen and (max-width: 414px) {
    .skillscontainer {
        padding-left: 20px;
        padding-right: 20px;
      }
  } */

.aem-Grid-newComponent {
        width: 100%;
}

.cmp-image .cmp-image__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font: normal normal 600 18px/25px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 1px 2px #00000099;
    text-transform: none;
} 

.aem-Grid::before, .aem-Grid::after {
  content: none;
}