@import "../../styles/variables.css";

.pageContainer {
  background: var(--prime-color-neutral-5);
  padding-top: 57px;
  font-family: var(--prime-font-family);
  display: flex;
  max-width: var(--prime-catalog-container-max-width-desktop);
  margin: 0 auto;
}

.authorBox {
  width: 270px;
  margin-top: 10px;
  position: sticky;
  top: 57px;
  height: 100vh;
}

.profile {
  display: flex;
  align-items: center;
  width: 1000px;
  margin: auto;
}
.authorDetails {
  padding-top: 21px;
  padding-bottom: 16px;
}
.avatar {
  display: inline-block;
  height: 110px;
  width: 110px;
  vertical-align: top;
  border-radius: 50%;
}

.about {
  display: flex;
  flex-direction: column;
  color: var(---prime-color-black);
  width: 197px;
}

.authorName {
  font-weight: var(--prime-font-weight-700);
  font-size: var(--prime-font-size-24);
  text-transform: capitalize;
  color: var(--prime-color-black);
}

.allLearningsHeader {
  font-weight: var(--prime-font-weight-400);
  color: var(--prime-color-black);
}
.authorDescription {
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-400);
  margin-top: 12px;
  color: var(--prime-color-body);
  width: 270px;
}
.authorLoContainer {
  width: calc(100% - 285px);
  margin-left: 15px;
}
.loCard {
  width: var(--prime-card-width);
  padding: 0 10px;
  height: var(--prime-card-height);
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  border-radius: 4px;
}
.btn {
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  cursor: pointer;
  color: var(--prime-color-black);
  background: 0 0;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.totalTrainingsDetails {
  display: block;
  font-size: var(--prime-font-size-16);
  float: left;
  padding-left: 10px;
  font-weight: var(--prime-font-weight-700);
}

.back {
  width: 120px;
  height: 20px;
}

.right {
  box-sizing: inherit;
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-600);
  display: flex;
  align-items: center;
}

.toggle {
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.viewButton {
  background: var(--prime-color-neutral-5);
  border: var(--prime-color-neutral-5);
  cursor: pointer;
  border: 1.5px solid transparent;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primeTrainingsCards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  row-gap: 40px;
}

.primeTrainingsList {
  align-self: self-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
  gap: 20px;
}

.primeTrainingsList li {
  border-top: 1px solid var(--prime-color-neutral-3);
  padding-top: 24px;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  align-items: center;
}

.primeVerticalSeperator {
  border-left: 1px solid var(--prime-color-nc2);
  height: 20px;
  margin-right: 10px;
}

.primeTrainingsContainer {
  padding-top: 40px;
  padding-left: 10px;
}

.top {
  padding-top: 16px;
}
.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 420px;
}
.picker {
  position: relative;
  padding: 0px 10px 0 10px;
}

.pick {
  width: 160px;
}

.backIcon {
  width: 20px;
  height: 20px;
  border: none;
  float: left;
}
@media screen and (max-width: 1024px) {
  .pageContainer {
    max-width: var(--prime-container-max-width-tablet);
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .pageContainer {
    width: 100%;
    max-width: var(--prime-container-max-width-mobile);
    padding: 0 20px;
  }
}

.selectedView {
  border: 1.5px solid var(--prime-color-primary);
  color: var(--prime-color-primary);
  border-radius: 4px;
}
