@import "../../../styles/variables.css";

.activeFields {
  margin: 0 auto;
  padding: 40px 0;
}

.title {
  font-size: var(--prime-font-size-28);
  font-weight: bold;
  line-height: 17px;
  letter-spacing: 0.54px;
  color: var(--prime-color-nc1);
  opacity: 1;
  margin: 0 0 15px 0;
}

.activeFieldName {
  font-weight: var(--prime-font-weight-600);
  width: 20%;
}

.textFieldAlign{
  width: 100%;
  height: 38px;
}
.switch{
  width: 50px;
  left: 20px;
}
.description,
.activeFieldName {
  font-size: var(--prime-font-size-20);
  color: var(--prime-color-nc1);
}


.activeFieldSectionBottom {
  margin-bottom: 30px;
  display: flex;
}

.description {
  padding-bottom: 20px;
}

.allowedActiveFieldValues {
  display: block;
  width: 150px;
}

.alignSwitchItem {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .activeFields {
    width: 930px;
  }
}
@media screen and (min-width: 1366px) {
  .activeFields {
    width: 1084px;
  }
}
