@import "../../../styles/variables.css";

.pageContainer {
  display: flex;
  flex-direction: column;
}
.profileHeader {
  text-align: left;
  font: normal normal bold 24px/17px Source Sans Pro;
  letter-spacing: 0.54px;
  color: var(--prime-color-nc2);
  opacity: 1;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
.upperSectionContainer {
  background: var(--prime-color-nc9);
}
.upperSection {
  margin: 0 auto;
  padding: 40px 0;
}
.detailsContainer {
  display: flex;
}
.image {
  width: 164px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}
.profileImage {
  width: 100%;
  height: 164px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-bottom: 10px;
}
.details {
  flex-direction: column;
  height: 164px;
  justify-content: center;
  display: flex;
}
.name {
  font-size: 27px;
  font-weight: bold;
  line-height: 17px;
  letter-spacing: 0.54px;
  color: var(--prime-color-nc2);
  opacity: 1;
  margin: 0 0 15px 0;
}
.email {
  font-size: 21px;
  font-weight: normal;
  line-height: 27px;
  letter-spacing: 0px;
  color: var(--prime-color-nc2);
  opacity: 1;
  margin: 0 0 10px 0;
}
.image .button {
  cursor: pointer;
  color: var(--prime-color-primary);
  font-size: var(--prime-font-size-small);
  font-weight: normal;
}
.image .button:hover,
.image .button:focus,
.image .button:focus-visible {
  color: var(--prime-color-primary);
  outline: none;
}

@media screen and (min-width: 1024px) {
  .upperSection {
    width: 930px;
  }
}
@media screen and (min-width: 1366px) {
  .upperSection {
    width: 1084px;
  }
}

.editIcon {
  display: none;
}

@media screen and (max-width: 414px) {
  .profileHeader {
    display: none;
  }
  .button {
    display: none;
  }
  .upperSectionContainer {
    background-color: transparent;
  }
  .upperSection {
    padding: 0;
  }
  .detailsContainer {
    padding: 20px;
    border-top: 2px solid var(--prime-color-nc13);
    border-bottom: 2px solid var(--prime-color-nc13);
  }
  .image {
    width: 54px;
    height: 54px;
    position: relative;
  }
  .editIcon {
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    min-width: 28px;
    min-height: 28px;
    padding: 0;
    background-color: var(--prime-color-primary);
    border-color: var(--prime-color-primary);
  }
  .editIcon :focus {
    background-color: var(--prime-color-primary);
    border-color: var(--prime-color-primary);
  }
  .editIcon svg {
    width: 16px;
    height: 16px;
  }
  .details {
    height: auto;
  }
  .name {
    font-size: 20px;
    line-height: 25px;
    color: var(--prime-color-nc2);
    opacity: 1;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .email {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: var(--prime-color-nc3);
    opacity: 1;
  }
}

