@import "../../../styles/variables.css";

.skillsArea {
  margin: 0 auto;
  padding: 40px 0;
}

@media screen and (min-width: 1024px) {
  .skillsArea,
  .skillsContainer {
    width: 930px;
  }
}
@media screen and (min-width: 1366px) {
  .skillsArea,
  .skillsContainer {
    width: 1084px;
  }
}
@media (max-width: 414px) {
  .skillsArea,
  .skillsContainer {
    padding-left: 20px;
  }
}
.skillsHeading {
  font-size: var(--prime-font-size-18);
  font: normal normal bold 21px/27px Source Sans Pro;
  letter-spacing: 0px;
  color: #292929;
}

.skillsDescription {
  margin-bottom: 60px;
}

.skillBox,
.skillBoxSelectable {
  width: 256px;
  height: 90px;
  line-height: 90px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  background-color: #ededed;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.11);
  font-size: 13px;
}

.skillBoxSelectable {
  cursor: pointer;
}

.skillName,
.skillNameSelectable {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #000000;
}

.actionButton {
  background: #306eb5;
  border-radius: 22px;
  opacity: 1;
  color: #ffffff;
  padding: 8px 22px;
  font-size: var(--prime-font-size-12);
  border: none;
  margin-top: 20px;
  margin-right: 25px;
}

.actionButton:hover {
  cursor: pointer;
  background: #4283d0;
  color: #ffffff;
}

.removeInterestButton {
  background-color: #858585;
  color: #ffffff;
  z-index: 10;
  cursor: auto;
  display: none;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  font-weight: 700;
}

.removeInterestButton:hover {
  cursor: pointer;
}

.arrowUp {
  display: none;
  position: absolute;
  z-index: 10;
  width: 0;
  height: 0;
  margin-left: 100px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid;
  border-bottom-color: #858585;
  margin-top: -15px;
}

.skillDataTooltip {
  display: none;
  background-color: #858585;
  color: #ffffff;
  z-index: 1;
  padding: 10px;
  font-size: 13px;
  position: absolute;
  width: 256px;
  text-align: left;
  line-height: normal;
  margin-top: -5px;
}

.skillBox:hover .removeInterestButton {
  display: block;
}

.skillBox:hover .skillDataTooltip {
  display: block;
}

.skillBox:hover .arrowUp {
  display: block;
}

.removeInterestButton::after {
  content: "\00d7";
  fill: #ffffff;
}

.showMoreButton {
  background: none;
  border: none;
  color: #4283d0;
}

.showMoreButton:hover {
  cursor: pointer;
}
