@import "../../../styles/variables.css";
.notificationListBox {
  width: 414px;
  font-size: var(--prime-font-size-16);
  list-style: none;
  background-color: var(--prime-color-white);
  background-clip: padding-box;
  opacity: 1;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid var(-prime-color-nc5);
  position: absolute;
  right: 0px;
  z-index: 11;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.notificationList {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.unreadCountItem {
  padding: 20px;
  display: flex;
  border: 1px solid var(-prime-color-nc5);
}

.unreadCountText {
  height: 30px;
  background: var(--prime-icon-color) 0% 0% no-repeat padding-box;
  border-radius: 166px;
  opacity: 1;
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-600);
  letter-spacing: 0px;
  color: var(--prime-color-white);
  padding: 6px 10px 5px 10px;
}

.unreadCountNotificationText {
  height: 20px;
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-600);
  color: var(--prime-color-nc1);
  opacity: 1;
  margin-left: 8px;
  margin-top: 8px;
}

@media screen and (max-width: 414px) {
  .notificationListBox {
    position: absolute;
    width: 100vw;
    right: -93px;
  }
}
