@import "../../../styles/variables.css";
.notificationItem {
  list-style: none;
  padding: 9px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  font-weight: var(--prime-font-weight-600);
  font-size: var(--prime-font-size-14);
  border: 1px solid var(--prime-color-nc5);
  opacity: 1;
  color: var(--prime-color-nc1);
  list-style-type: none;
  line-height: 22px;
}

.notificationIcon {
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: flex;
  vertical-align: top;
  fill: var(--prime-color-nc3) !important;
}

.notificationTime {
  /* margin-top: 8px; */
  border: 0;
  color: var(--prime-color-nc4);
  height: 20px;
  font-size: var(--prime-font-size-12);
}
