/**
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import "../../../styles/variables.css";

.listItem {
  display: flex;
  font-size: var(--prime-font-size-16);
  padding: 24px 0;
  border-top: none !important;
  border-bottom: 1px solid var(--prime-color-neutral-3);
  gap: 20px;
}
.detailsContainer {
  width: 85%;
  display: flex;
}

.actionsContainer {
  width: 15%;
  padding-left: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.imageContainer {
  width: 198px;
  height: 103px;
  border-radius: 8px;
  position: relative;
}
.price {
  position: absolute;
  transition: all 0.5s ease-in-out;
  top: 8px;
  left: 8px;
  padding: 4px 10px 5px 10px;
  gap: 4px;
  border-radius: 40px;
  font-size: var(--prime-font-size-12);
  font-weight: var(--prime-font-weight-700);
  line-height: 15.02px;
  text-align: left;
  color: var(--prime-color-white);
  background: var(--prime-color-black);
  text-transform: uppercase;
}
.loDetailsContainer {
  width: calc(100% - 198px);
  padding-left: 16px;
}

.title {
  font-family: var(--prime-font-family);
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-700);
  color: var(--prime-color-link);
  line-height: 18.2px;
  text-align: left;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}
.extraDetails {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.details {
  position: relative;
  font-family: var(--prime-font-family);
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-400);
  line-height: 18.2px;
  text-align: left;
  color: var(--prime-color-neutral-1);
  display: inline-block;
  max-width: 33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dot {
  content: " ";
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: var(--prime-color-black);
}

.description {
  font-family: var(--prime-font-family);
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-400);
  line-height: 18.2px;
  text-align: left;
  white-space: break-spaces;
  color: var(--prime-color-neutral-1);
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 18px;
}

.skillsContainer {
  display: flex;
  align-items: center;
}

.loSkillsData {
  width: 33%;
  font-family: var(--prime-font-family);
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-700);
  line-height: 17.53px;
  text-align: left;
  color: var(--prime-color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 0;
  padding-right: 5px;
}
.skillsLabel {
  font-weight: var(--prime-font-weight-700);
  margin-right: 5px;
}
.skills {
  font-weight: var(--prime-font-weight-400);
  color: var(--prime-color-neutral-1);
}

.dueDateContainer {
  width: 33%;
  padding: 5px 0;
  padding-right: 5px;
  position: relative;
  font-family: var(--prime-font-family);
  font-size: var(--prime-font-size-14);
  line-height: 18.2px;
  text-align: left;
  color: var(--prime-color-neutral-1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
}
.dueDateLabel {
  display: inline-block;
  font-weight: var(--prime-font-weight-700);
  color: var(--prime-color-black);
}
.separator {
  position: relative;
  right: 3px;
}
.progressContainer {
  width: 33%;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 0;
  padding-left: 5px;
}
.iconActionButton {
  display: flex;
  gap: 4px;
  padding: 5px;
  background: none;
  border: none;
  width: auto;
  cursor: pointer;
  max-width: 100%;
}
.iconActionButtonLabel {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  display: block;
  text-align: left;
  color: var(--prime-color-link);
  position: relative;
  top: 2px;
}
.progressBar {
  width: 55px !important;
}
.progressValueText {
  font-family: var(--prime-font-family);
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-500);
  line-height: 15.6px;
  margin-left: 8px;
  color: var(--prime-color-neutral-1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  bottom: 2px;
}

.progressBar div[class$="spectrum-BarLoader-fill"] {
  background: var(--prime-color-primary);
  height: 100%;
}
.scoreContainer {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
}

.notRatedContainer {
  width: 44px;
  height: 18px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0 7px;
  background: var(--prime-color-neutral-3);
  font-size: var(--prime-font-size-12);
  font-weight: 500;
  line-height: 15.02px;
  color: var(--prime-color-black);
  cursor: pointer;
}
.notRatedContainer svg {
  width: 12px;
  height: 12px;
}
.ratingsContainer {
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-400);
  line-height: 15.02px;
  color: var(--prime-color-neutral-1);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
.ratingsContainer svg {
  fill: var(--prime-progress-color);
  width: 12px;
  height: 15px;
}
.rating {
  font-weight: var(--prime-font-weight-700);
  line-height: 15.02px;
  text-align: right;
  padding-left: 2px;
  padding-right: 2px;
}
.bold {
  font-weight: var(--prime-font-weight-700);
}

.effectiveness {
  color: var(--prime-color-link);
  font-size: var(--prime-font-size-14);
  line-height: 20px;
  font-weight: var(--prime-font-weight-400);
}

.starContainer {
  display: flex;
  align-items: center;
  gap: 2px;
  padding-bottom: 5px;
  color: var(--prime-color-black);
  cursor: default;
}

.primeVerticalSeperator {
  border-left: 1px solid var(--prime-color-nc2);
  height: 2rem;
  margin-right: 10px;
}

.exploreButton {
  color: var(--prime-color-primary);
  background: var(--prime-color-white);
  border: 2px solid var(--prime-color-primary);
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 0px;
  width: 90px;
  padding: 6px 16px 6px 16px;
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-700);
  line-height: 17.53px;
  font-family: var(--prime-font-family);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exploreButton:hover {
  color: var(--prime-color-white);
  background: var(--prime-color-primary);
}

.addRemoveLink {
  color: var(--prime-color-link);
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-500);
  line-height: 15.6px;
  text-align: left;
  text-decoration: none;
  position: relative;
  bottom: 2px;
  padding-left: 2px;
}
.icon {
  padding-right: 4px;
}
.block {
  display: block;
}
.loEnrollmentData {
  display: flex;
  width: 65%;
}

.loEnrollData {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.actionButton {
  margin-left: auto;
}

.loThumbnail {
  width: 55px;
  height: 55px;
  top: 0;
  left: 0;
  margin-right: 10px;
  border-radius: 10px;
}

.priceDiv {
  margin-left: auto;
}

.starRating {
  margin-right: 20px;
}

.snippet {
  color: var(--prime-color-neutral-1);
  > span {
    background-color: yellow;
  }
}

.snippetContainer {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: var(--prime-font-size-14);
}
.snippetType {
  font-weight: var(--prime-font-weight-700);
  margin-right: 5px;
}
