@import "../../../styles/variables.css";
.primeCommunityHeaderRow {
    display: flex;
    max-width: 716px;
    margin-bottom: 30px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
}

@media (max-width: 414px) {
    .primeCommunityHeaderRow {
        display: block;
        margin-bottom: 30px;
        margin-left: 25px;
        margin-right: 25px;
        font-weight: 500;
        padding-left: 0px;
    }
}

.primeCommunitySearchContainer {
    display: flex;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 45px;
    margin-bottom: 10px;
    height: 30px;
}

@media (max-width: 414px) {
    .primeCommunitySearchContainer {
      width:100%;
      margin-top: 30px;
    }
}

.primeLoaderWrapper {
    margin-bottom: 20px;
    height:20px;
    display: flex;
    justify-content: center;
}

.primeCommunitySearchStatus {
    display: flex;
    font-size: var(--prime-font-size-14);
    margin: auto;
    width: 716px;
    margin-bottom: 25px;
    padding-left: 25px;
}

.primeCommunitySearchClear {
    border: none;
    background-color: transparent;
    color: #306EB5;
}

.primeCommunitySearchClear:hover {
    cursor: pointer;
}

.primeCommunityNoBoardFound {
    font-size: var(--prime-font-size-14);
    margin-left: 25px;
}