.primeCommunityThumbnailPreview{
    min-height: 140px;
    margin-bottom: 15px;
    background-size: 100% 100% !important;
    text-align: center;
    margin-bottom: 20px;
}

.primeCommunityThumbnailDescription {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: 600;
    min-height: 140px;
    padding: 30px;
}

.primeCommunityThumbnailNoPreview {
    position: relative!important;
}