.noteMarkerContainer {
  font-size: var(--prime-font-size-14);
  width: 100%;
  margin: 16px 0px;
}
.noteContentWithoutMarker {
  font-size: var(--prime-font-size-14);
  padding-bottom: 10px;
  display: flex;
}

.noteContentWithoutMarker span {
  margin-top: 8px;
}
.icon,
.noteIcon {
  margin-right: 12px;
  margin-left: 10px;
}
.icon svg,
.noteIcon svg {
  text-align: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-top: 4px;
}

.noteIcon svg path {
  fill: var(--prime-icon-color);
}
.markerText {
  color: var(--prime-color-link);
  cursor: pointer;
  font-size: var(--prime-font-size-12);
}
.noteContent {
  color: var(--prime-color-body);
  font-size: var(--prime-font-size-14);
  margin-left: 45px;
  padding-bottom: 10px;
}
.noteTextWithoutMarker {
  color: var(--prime-color-body);
  font-size: var(--prime-font-size-14);
  margin-top: 10px;
}
.noteEditContentWithoutMarker,
.noteEditContent {
  word-wrap: break-word;
  display: inline-block;
  position: relative;
  margin-top: 5px;
  margin-bottom: 12px;
  padding: 12px;
  resize: none;
  border: 1px solid var(--prime-color-neutral-1);
  border-radius: 4px;
  width: 100%;
  font-family: var(--prime-font-family);
  font-size: var(--prime-font-size-14);
  line-height: inherit;
}
.noteEditContentWithoutMarker {
  margin-top: 10px;
}

.noteControlActionsWithoutMarker,
.noteControlActions {
  position: relative;
  height: 40px;
  padding-bottom: 10px;
  gap: 24px;
  display: flex;
  justify-content: flex-end;
}

.actionButton {
  text-align: center;
  color: var(--prime-color-link);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 5rem;
  display: block;
  font-size: var(--prime-font-size-14);
  font-weight: var(--prime-font-weight-400);
  min-height: 30px;
  border: none;
  background-color: transparent;
}
.actionButton:hover,
.actionButton:focus,
.actionButton:focus-visible {
  background: var(--prime-color-neutral-4);
}
.noteContainerWithoutMarker {
  width: 100%;
}

.noteContentWithMarker {
  padding-left: 45px;
  display: flex;
  flex-direction: column;
}
