@import "./almLib/styles/buttons.css";
@import "./almLib/styles/variables.css";

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--prime-color-nc4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--prime-color-nc5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--prime-color-nc3);
}

html {
  scrollbar-color: var(--prime-color-nc5) var(--prime-color-nc4);
  scrollbar-width: thin;
}

.extensionDialog{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
.extensionDialog > div:first-child{
  grid-template-rows: auto 20px auto auto 1fr auto 20px!important;
  
}
.extensionDialog hr{
  height: 0!important;
}