@import "../../styles/variables.css";
.overviewcontainer {
    display: flex;
    width: 50%;
    padding: 10px 0;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.loResourceType {
    font-weight: var(--prime-font-weight-600);
}

.tablist {
   padding-bottom: 10px;
}

.tablist > div[role="tablist"] {
    border-bottom-color: transparent;
}

.tablist div[role="presentation"] {
    height: 4px;
}