.moduleNotesContainer {
  margin-bottom: 48px;
  font-family: var(--prime-font-family);
  padding-right: 10px;
}
.noteItemList {
  box-sizing: border-box;
}
.notesItemSeparator {
  border: 0.5px solid var(--prime-color-neutral-3);
  margin: 0;
}
