src/main/content/jcr_root/apps/learning/clientlibs/clientlib-react
src/main/content/jcr_root/apps/learning/clientlibs/clientlib-alm
src/main/content/jcr_root/apps/learning/clientlibs/clientlib-alm-commerce
