/**
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import "../../../styles/variables.css";

.left {
  width: 100%;
  padding-bottom: 30px;
  background-color: var(--prime-color-neutral-5);
  gap: 24px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
}

.right {
  width: 280px;
  padding: 20px 0;
}
.trainingOverviewContainer {
  gap: 14px;
  display: flex;
  flex-direction: column;
}

.coursesViewMenu {
  position: relative;
  margin: 24px 0px;
}

.trainingPrequisiteLabel {
  margin-top: 24px;
  margin-bottom: 0px;
  color: var(--prime-color-black);
  font-size: var(--prime-font-size-18);
  font-weight: var(--prime-font-weight-700);
}

.prequisiteCourseSeparator {
  border: 0.5px solid var(--prime-color-neutral-3);
  margin: 0;
}

.sectionHeader {
  display: flex;
  padding: 24px 0 12px 0;
  border-bottom: 1px solid var(--prime-color-neutral-1);
}

.sectionName {
  font-size: var(--prime-font-size-14);
  margin: 0;
}
.sectionOptional {
  background: var(--prime-success-color);
  border-radius: 42px;
  color: var(--prime-color-white);
  font-weight: var(--prime-font-weight-600);
  font-size: var(--prime-font-size-12);
  padding: 1px 8px;
  letter-spacing: 0.4px;
  margin-left: auto;
}

.overview {
  font-size: var(--prime-font-size-14);
  overflow: hidden;
  display: inline-block;
  width: 100%;
  padding: 10px 0 0 0;
  white-space: normal !important;
  height: auto !important;
  font-family: var(--prime-font-family);
}

img {
  max-width: 100%;
  max-height: 100%;
}
.duration {
  font-size: var(--prime-font-size-14);
  display: flex;
  align-items: center;
}

.durationIcon {
  display: flex;
  padding-right: 5px;
}

.durationIcon svg {
  fill: var(--prime-icon-color);
  width: 20px;
  height: 20px;
}

.durationText {
  color: var(--prime-color-neutral-1);
}

.mandatoryModule {
  background-size: contain;
  border-radius: 30px;
  margin-top: 5px;
  margin-left: 3px;
  line-height: 40%;
  background-color: var(--prime-color-white);
}

.mandatoryModule svg {
  fill: var(--prime-error-color);
  width: 10px;
  height: 10px;
}

.pageContainer {
  display: flex;
  max-width: var(--prime-container-max-width-desktop);
  width: var(--prime-container-width);
  margin: 0 auto;
  margin-top: 15px;
  background-color: var(--prime-color-neutral-5);
  gap: 50px;
}

.completionDateInfoIcon {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .headingContainer {
    max-width: var(--prime-container-max-width-tablet);
    width: var(--prime-container-width);
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .left {
    order: 2;
    width: 100%;
    padding: 20px;
  }
  .right {
    order: 1;
    width: 100%;
    padding: 20px 20px 0 20px;
  }
  .pageContainer {
    flex-direction: column;
    width: 100%;
    max-width: var(--prime-container-max-width-mobile);
    background-color: var(--prime-color-neutral-3);
  }
  .trainingOverviewContainer {
    border: none;
    margin-bottom: 20px;
    padding: 0;
  }
  .overview {
    margin-top: 0;
  }
}
.loader {
  height: 200px;
}

.externalCertUploadInfo {
  max-width: 100%;
  clear: both;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-left: 5px solid var(--prime-progress-color);
  background-color: var(--prime-color-white);
}

.externalCertUploadMessage {
  padding: 10px;
  background-color: var(--prime-color-neutral-4);
}

.uploadFileSubmission {
  height: 38px;
  width: inherit;
  padding: 6px 0px 6px 15px;
}

.uploadFileSubmission button {
  display: none;
}

.fileSubmissionLabel {
  position: absolute;
  padding: 6px 0px 6px 15px;
  right: 0;
  left: 0;
  z-index: 1;
  height: 38px;
  font-weight: 400;
  color: var(--prime-color-neutral-1);
  background-color: var(--prime-color-neutral-4);
  border: 1px solid var(--prime-color-neutral-2);
  border-radius: 100px;
  font-size: var(--prime-font-size-14);
}

.fileSubmissionLabel span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
  display: inline-block;
}

.fileSubmissionLabel::after {
  position: absolute;
  width: 20%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--prime-color-body);
  content: "Browse";
  background-color: var(--prime-color-neutral-4);
  border-left: inherit;
  border-radius: 0 100px 100px 0;
}

.proofUploadButton {
  flex: 1;
}

.uploadButton {
  flex: 1;
  height: 38px;
  width: 100%;
}

.fileUpload {
  position: relative;
  width: 100%;
  display: flex;
}

.fileSubmissionContainer {
  text-transform: none;
  gap: 10px;
  display: flex;
  padding-top: 24px;
  font-weight: var(--prime-font-weight-700);
}

.uploadFileBox {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.enterCompletionDate {
  display: flex;
  flex-direction: column;
  width: 22%;
}

.enterCompletionDate [class$="spectrum-Field-field"] {
  width: 85%;
  margin-left: 5px;
}

.enterCompletionDate [class$="spectrum-InputGroup-input"] {
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  height: 38px;
  border: 1px solid var(--prime-color-neutral-2);
  border-right: 0;
  padding: 5px;
}

.enterCompletionDate [class$="spectrum-FieldButton"] {
  height: 38px;
  width: 25%;
}

.enterCompletionDate [class$="focus-ring"] {
  height: 38px;
}

.enterCompletionDate [class$="spectrum-FieldButton"]:before {
  border-bottom-right-radius: 100px !important;
  border-top-right-radius: 100px !important;
  border: 1px solid var(--prime-color-neutral-2);
}

.enterCompletionDate [class$="spectrum-Datepicker-segments"] {
  font-weight: var(--prime-font-weight-500);
}

.enterCompletionDate [class$="spectrum-Datepicker-inputContents"] {
  justify-content: center;
}

.enterCompletionDate [class$="spectrum-Icon"] {
  fill: var(--prime-color-neutral-1);
}

.submissionLink {
  color: var(--prime-color-link);
  text-decoration: none;
  margin-left: 5px;
}

.uploadedCertContainer {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.uploadedFileDetails {
  display: flex;
  gap: 5px;
  font-weight: normal;
}

.uploadContainerHeading {
  height: 30px;
}

.completionDateInfo {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.completionDateInfo svg {
  fill: var(--prime-color-neutral-1);
  height: 13px;
  width: 13px;
}

.awaitingApprovalLabel {
  color: var(--prime-progress-color);
}

.approvedFileDetails {
  color: var(--prime-success-color);
  display: flex;
  gap: 5px;
  font-weight: normal;
}

.approvedFileDetails svg {
  width: 20px;
  height: 20px;
}

.proofApprovedLabel {
  fill: var(--prime-success-color);
}

.fileUploadNote {
  font-size: var(--prime-font-size-12);
  color: var(--prime-color-neutral-1);
  padding: 12px 0 24px 0;
}

.certUploadNoteText {
  padding-left: 30px;
}

.primeStatusSvg {
  background: none;
  border: none;
  width: 35px;
  fill: currentColor;
  padding-left: 10px;
}
.backgroundPage {
  width: 100%;
}

.flexLpInfoBox {
  display: flex;
}

.info {
  display: flex;
  width: fit-content;
  margin-left: -5px;
  padding-right: 2px;
}

.info svg {
  color: var(--prime-color-primary);
  transform: scale(0.6);
  width: 30px;
  height: 30px;
  margin-left: 0px;
}

.script {
  padding-top: 5px;
}

.script span {
  color: var(--prime-color-neutral-1);
}

.courseViewLabel {
  width: 90%;
  display: flex;
}

.radioButton {
  position: relative;
  transform: scale(1.25);
  margin-left: 35px;
  bottom: 15px;
}

.labelText {
  position: relative;
  bottom: 17px;
  margin-left: 2px;
}

.refreshDiv {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}

.refresh svg {
  stroke: var(--prime-color-neutral-1);
  width: 15px;
  height: 15px;
  fill: var(--prime-color-neutral-1);
}

.radioGroup {
  position: relative;
  margin-top: 8px;
}

.radioGroup > div > div > label {
  font-weight: var(--prime-font-weight-400);
}

.subLOsHeader {
  font-size: var(--prime-font-size-18);
  font-weight: var(--prime-font-weight-600);
  color: var(--prime-color-black);
  margin-bottom: -48px;
  margin-top: 48px;
}
