@import "../../../styles/variables.css";

.container {
  /* width: 256px; */
}

.typeContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.typeLabel {
  font-size: var(--prime-font-size-14);
  letter-spacing: 0px;
  color: var(--prime-color-nc4);
  opacity: 1;
  margin: 15px 0;
}
.listContainer {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 170px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--prime-color-nc6);
}
.filtersLabel {
  font-size: var(--prime-font-size-16);
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--prime-color-nc4);
  opacity: 1;
  margin: 0;
  border-bottom: 2px solid var(--prime-color-nc6);
  padding-bottom: 10px;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--prime-color-nc1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
