.almButton {
  box-sizing: border-box;
  border-radius: 3rem;
  cursor: pointer;
  display: block;
  font-size: var(--prime-font-size-14);
  font-weight: 400;
  min-height: 32px;
  /* min-width: 280px !important; */
  padding: 5px 15px;
  border: 0.1rem solid transparent;
}
.almButton:focus-within,
.almButton:focus-visible {
  outline: none;
}
.primary {
  color: var(--prime-color-white);
  background-color: var(--prime-color-primary);
  border-color: var(--prime-color-primary);
}
.primary:enabled:hover,
.primary:enabled:focus {
  opacity: 0.8;
}

.primary:disabled {
  cursor: not-allowed;
  font-family: var(--prime-font-family);
  border-radius: 26px;
  border: 2px solid var(--prime-color-neutral-3);
  color: var(--prime-color-neutral-2);
  background-color: var(--prime-color-neutral-3);
}

.secondary {
  color: var(--prime-color-primary);
  background-color: var(--prime-color-white);
  border-color: var(--prime-color-primary);
}

.secondary:enabled:hover,
.secondary:enabled:focus {
  opacity: 0.7;
}

.secondary:disabled {
  cursor: not-allowed;
  font-family: var(--prime-font-family);
  border-radius: 26px;
  border: 2px solid var(--prime-color-neutral-3);
  color: var(--prime-color-neutral-2);
}
