<sly
  data-sly-use.widgetModel="com.aemlearncomponents.core.models.EmbeddableLrngWidgetModel"
>
  <div class="cpWidgetWrapperDiv">
    <div
      data-sly-attribute.data-cp-widget-configs="${widgetModel.widgetConfigs}"
      data-sly-attribute.data-cp-widget-src-url="${widgetModel.widgetSrcUrl}"
      data-sly-attribute.data-cp-widget-ref="${widgetModel.selectedRef}"
      data-sly-attribute.data-cp-runmode="${widgetModel.runMode}"
      data-sly-attribute.data-cp-widget-communicator-url="${widgetModel.widgetCommunicatorUrl}"
      id="fetchUserProfile"
    ></div>
  </div>

  <sly
    data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.all @ categories='apps.alm.components.mylearning'}"
  />
</sly>
