.primeBoardWrapper{
    display:flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.primeBoardItem {
    max-width: 716px;
    width: 75%;
    max-height: 300px;
    padding: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 3px #0000001A;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
    opacity: 1;
    position: relative;
}

.primeBoardName {
    font-size:19px;
    margin-bottom: 12px;
    text-align: left;
    font-weight: 600;
    font-family: Source Sans Pro;
    letter-spacing: 0px;
    color: #306EB5;
    opacity: 1;
}
.primeBoardName:hover  {
    cursor: pointer;
}

.primeBoardOptions {
    border: none;
    background: transparent;
    width: 28px;
    height: 28px;
    float: right;
    fill: #306EB5;
}

.primeBoardSkill {
    text-align: left;
    font-size: 14px;
    font-family: Source Sans Pro;
    letter-spacing: 0px;
    color: #717171;
    opacity: 1;
    display: inline-flex;
    vertical-align: top;
    margin-bottom: 2px;
}

.primeBoardDescription {
    height: 100px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 20px;
}

.primeBoardIcon {
    margin-left: 12px;
}

.primeBoardActivityPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.primeBoardActivityStats{
    max-width: 300px;
}

.primeActivityStatsIcon {

}

.primeActivityStatsText {
    font-size: 12px;
    padding-left: 2px;
    vertical-align: text-top;
    margin-right: 15px;
}

.primeActivityInfoIcon {
    margin-left: -10px;
    margin-right: 15px;
}

.primeVerticalSeperator {
    border-left: 1px solid #ccc;
    height: 2rem;
    margin-right: 15px;
}