/**
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import "../../../styles/variables.css";
.primeBoardWrapper {
  display: flex;
  max-width: 716px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.primeBoardItem,
.primeBoardItemWithBorder {
  width: 716px;
  background: #ffffff 0% 0% no-repeat padding-box;
  color: #292929;
}

.primeBoardItemWithBorder {
  position: relative;
  box-shadow: 0px 0px 3px #0000001a;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  opacity: 1;
  position: relative;
  padding: 20px;
  color: #306eb5;
}

.primeBoardName {
  font-size: var(--prime-font-size-24);
  margin-bottom: 12px;
  text-align: left;
  font-weight: bold;
  color: inherit;
  line-height: 35px;
}

.primeBoardNameSpan:hover {
  cursor: pointer;
}

.primeBoardOptions {
  border: none;
  background: transparent;
  margin-top: 5px;
  margin-right: -5px;
  float: right;
  fill: #306eb5;
}

.primeBoardSkill {
  text-align: left;
  font-size: var(--prime-font-size-12);
  letter-spacing: 0px;
  color: var(--prime-color-nc3);
  opacity: 1;
  display: inline-flex;
  vertical-align: top;
}

.primeBoardSkillNames {
  margin-right: 8px;
  max-width: 600px;
  font-size: var(--prime-font-size-12);
}

.primeBoardDescription {
  /* height: 100px; */
  border-bottom: 1px solid #ccc;
  font-size: var(--prime-font-size-14);
  margin-bottom: 10px;
}

.primeBoardIcon {
  width: 17px;
  margin-top: -2px;
}

.primeBoardActivityPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #d5d5d5;
  padding-top: 5px;
}

.primeBoardActivityStats {
  max-width: 300px;
  display: flex;
}

.primeActivityStatsText {
  font-size: var(--prime-font-size-12);
  padding-left: 2px;
  vertical-align: text-top;
  margin-right: 15px;
  margin-top: 7px;
  color: var(--prime-color-nc3);
}

.primeActivityStatsIcon {
  width: 15px;
  color: var(--prime-color-nc3);
  margin-top: 5px;
  margin-right: 5px;
}

.primeActivityInfoIcon {
  margin-left: -8px;
  margin-right: 10px;
  width: 12px;
  padding-top: 3px;
  color: var(--prime-color-nc3);
}

.primeVerticalSeperator {
  border-left: 1px solid #ccc;
  height: 2rem;
  margin-right: 10px;
}

.tooltipText {
  display: none;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  font-size: var(--prime-font-size-10);
}

@media (max-width: 450px) {
  .primeBoardItem,
  .primeBoardDescription {
    height: auto;
    width: 100%;
    padding: 20px;
  }

  .primeBoardSkillNames {
    max-width: 330px;
  }
  .primeVerticalSeperator {
    display: none;
  }

  .primeActivityInfoIcon {
    display: none;
  }

  .primeBoardActivityPanel {
    height: 70px;
  }

  .primeActivityStatsIcon {
    margin-right: 5px;
  }

  .primeActivityStatsText {
    margin-right: 15px;
  }
}
