.primeCss {
  padding: 10px 0;
}

.primeCatalogHeaderContainer {
  margin-bottom: 60px;
}
.primeCatalogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primateCatalogLabel {
  font-size: 18px;
  letter-spacing: 0px;
  color: #000000;
  margin: 0;
}

.primeFiltersCatalogContainer {
  display: flex;
}
