@import "../../styles/variables.css";

.pageContainer {
  margin: 0 auto;
}
.headerContainer {
  margin-bottom: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  font-size: 18px;
  letter-spacing: 0px;
  color: var(--prime-color-black);
  margin: 0;
}
.searchContainer {
  width: 265px;
}
.filtersContainer {
  display: flex;
}

.searchAppliedContainer {
  display: flex;
  align-items: center;
}
.searchAppliedContainer p {
  display: flex;
  align-items: center;
}

.searchAppliedLabel {
  text-align: left;
  font-size: var(--prime-font-size-small);
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--prime-color-nc2);
  margin: 10px 0;
  display: flex;
}
.searchTextContainer {
  color: var(--prime-color-white);
  margin-left: 10px;
  background-color: var(--prime-color-nc3);
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 22px;
  border-radius: 25px;
  min-width: 20px;
}
.searchText {
  margin-right: 10px;
}
.searchReset {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
