.pageContainer {
  /* width: 1084px; */
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .pageContainer {
    width: 930px;
  }
}
@media screen and (min-width: 1366px) {
  .pageContainer {
    width: 1084px;
  }
}

.headerContainer {
  margin-bottom: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  font-size: 18px;
  letter-spacing: 0px;
  color: #000000;
  margin: 0;
}
.searchContainer {
  width: 265px;
}
.filtersContainer {
  display: flex;
}

.searchAppliedContainer {
  display: flex;
  align-items: center;
}
.searchAppliedContainer p {
  display: flex;
  align-items: center;
}

.searchAppliedLabel {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #292929;
  margin: 10px 0;
  display: flex;
}
.searchTextContainer {
  color: #ffffff;
  margin-left: 10px;
  background-color: #717171;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 22px;
  border-radius: 25px;
  min-width: 30px;
}
.searchText {
  margin-right: 10px;
}
.searchReset {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
