.primeDialogLaunchButton {
    background: #306EB5;
    border-radius: 22px;
    opacity: 1;
    color: #FFFFFF;
    padding:8px 22px;
    font-size: 13px;
    border: none;
}

.primeHiddenDialogLaunchButton {
    display: none;
}

.primeDialogLaunchButton:hover {
    cursor: pointer;
    background: #4283d0;
    color: #FFFFFF;
}

@media (max-width: 414px) {
    .primeDialogLaunchButton {
        position: fixed;
        background-color: #306EB5;
        border: none;
        display: block;
        z-index: 2000;
        border-radius:20px;
        width: auto;
        height: 40px;
        top: 85%;
        left: 35%;
        color: #FFFFFF;
    }
}