@import "./styles/variables.css";

button {
  cursor: pointer !important;
}

.AppContainer {
  max-width: var(--prime-container-max-width-desktop);
  width: var(--prime-container-width);
  margin: 20px auto;
}
