.notificationItem {
    list-style: none;
    padding: 18px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #F8F8F8;
    opacity: 1;
    color: #292929;
    list-style-type: none;
    line-height:22px; 
  }

  .notificationIcon {
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    display: flex;
    vertical-align: top;
    fill: #7f7f7f !important;

  }

  .notificationTime {
    margin-top: 8px;
    border: 0;
    color: #8F8F8F;
    height: 20px;
    font-size: 12px;
  }




 