/**
Copyright 2021 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import "../../../styles/variables.css";

.container {
  /* max-width: 50%; */
  clear: both;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.moduleDescription {
  font-size: var(--prime-font-size-14);
  text-align: justify;
  display: flex;
  align-items: center;
}

.noSessionDetails {
  margin-left: -10px;
  margin-top: -5px;
}

.noSessionDetails svg {
  height: 24px !important;
}

.moduleDescription svg {
  width: 30px;
  height: 32px;
  fill: var(--prime-progress-color);
}

.headerContainer {
  background-color: var(--prime-color-white);
  display: flex;
}
.title {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--prime-color-black);
}
.cursor {
  cursor: pointer;
}
.headerWrapper {
  width: 100%;
  line-height: 1.25rem;
}
.resourceType {
  display: flex;
  align-items: inherit;
}
.headerIcon {
  display: flex;
  padding: 10px;
}

.details {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--prime-font-size-14);
  gap: 4px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.sessionPasscode,
.detailsHeader {
  color: var(--prime-color-neutral-1);
  font-size: var(--prime-font-size-12);
}
a.details {
  color: var(--prime-color-link);
  text-decoration: none;
}

.icon {
  display: flex;
  padding: 2px 7px 2px 5px;
  position: relative;
}
.headerIcon svg {
  fill: var(--prime-icon-color);
  width: 40px;
  height: 40px;
}

.icon svg {
  fill: var(--prime-icon-color);
  width: 40px;
  height: 40px;
}
.spectrumIcon {
  padding-right: 8px;
}
.spectrumIcon svg {
  fill: var(--prime-icon-color);
  width: 20px;
  height: 20px;
}

.wrapperContainer {
  color: var(--prime-color-body);
  padding: 16px 0px 0px 52px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.metaDataContainer {
  display: flex;
  flex-wrap: wrap;
}

.metadata {
  width: 50%;
  display: flex;
  margin-bottom: 15px;
  padding-right: 20px;
}

.sessionDate {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.metadataLineSeparator {
  border-bottom: 0.5px solid var(--prime-color-neutral-3);
  padding-bottom: 8px;
}
.resourceAndDuration {
  display: flex;
  justify-content: space-between;
  color: var(--prime-color-neutral-1);
  font-size: var(--prime-font-size-12);
  align-items: center;
}

.moduleLocked,
.modulePassed {
  background-size: contain;
  border-radius: 30px;
  position: absolute;
  bottom: 6px;
  right: 8px;
  line-height: 40%;
  background-color: var(--prime-color-white);
}

.moduleLocked svg {
  fill: var(--prime-color-black);
  width: 14px;
  height: 14px;
}

.modulePassed svg {
  fill: var(--prime-success-color);
  width: 14px;
  height: 14px;
}

.previewable {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--prime-font-size-12);
}

.link {
  color: var(--prime-color-link);
  cursor: pointer;
}

.linkDisabled {
  pointer-events: none;
  color: var(--prime-color-neutral-2);
}

.vcUrlButton {
  background: none;
  border: none;
  padding: 0;
  text-align: left;
}

.previewable svg {
  fill: var(--prime-color-link);
  width: 18px;
  height: 13px;
  margin-left: 3px;
}

.mandatoryModule {
  background-size: contain;
  border-radius: 30px;
  position: absolute;
  margin-top: 5px;
  margin-left: 3px;
  line-height: 40%;
  background-color: var(--prime-color-white);
}

.mandatoryModule svg {
  fill: var(--prime-error-color);
  width: 10px;
  height: 10px;
}

.mandatoryModuleContainer {
  box-shadow: -2px 0 0 0 var(--prime-error-color);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.progressArea {
  display: flex;
  width: 200px;
  margin-left: 20px;
}

.primeStatusSvg {
  background: none;
  border: none;
  width: 35px;
  fill: currentColor;
  padding-left: 10px;
}

.uploadFileSubmission {
  display: none;
}

@media screen and (max-width: 450px) {
  .metaDataContainer {
    display: flex;
    flex-direction: columns;
  }

  .container {
    max-width: 100%;
  }

  .metadata {
    width: 100%;
    display: flex;
  }

  .progressArea {
    width: 175px;
  }

  .primeStatusSvg {
    width: 45px;
  }
  .title {
    width: 50%;
  }

  .resourceType {
    display: block;
  }

  .attemptsDuration {
    margin-left: 1px !important;
  }

  .reattemptButton {
    margin-left: 0;
    padding-left: 0;
    border: 0;
  }

  .reattemptButtonDisabled {
    margin-left: 0;
    padding-left: 0;
    border: 0;
  }

  .refresh svg {
    margin-left: 0px !important;
  }

  .completedRefresh svg {
    margin-left: 0px !important;
  }

  .attemptDescriptionContainer {
    display: block;
  }
}

.fileSubmissionContainer {
  text-transform: none;
  display: flex;
}

.fileSubmissionContainer:hover {
  cursor: default;
}

.metadata_separator {
  display: flex;
  padding: 0 8px;
  align-items: center;
}

.metadata_separator::before {
  content: "";
  height: 4px;
  width: 4px;
  border-radius: 2.5px;
  background: var(--prime-color-neutral-1);
}

.uploadButton {
  background: none;
  border: none;
  font-size: var(--prime-font-size-12);
}

.submissionLink {
  color: var(--prime-color-link);
  text-decoration: none;
  display: initial;
  padding-left: 4px;
}

.fileApproved {
  color: var(--prime-success-color);
}

.fileRejected {
  color: var(--prime-error-color);
}

.fileAwaitingApproval {
  color: var(--prime-progress-color);
}

.warningDialog [class^="spectrum-ButtonGroup"] {
  display: none !important;
}

.warningDialog [class^="spectrum-Dialog-heading"] {
  padding-right: 15px !important;
}

.warningDialog svg[class^="spectrum-Dialog-typeIcon"] {
  transform: scale(1.4);
}
.warningDialog [class^="spectrum-Dialog-content"] {
  display: none;
}

.warningDialog hr {
  display: none;
}

.roomInfo {
  color: var(--prime-color-neutral-1);
}

.roomUrl a {
  text-decoration: none;
  color: var(--prime-color-link);
}

.lastVisitedMssg {
  color: var(--prime-color-neutral-1);
  font-size: var(--prime-font-size-12);
}

.reattempt {
  color: var(--prime-color-link);
  text-transform: none;
  margin-left: 5px;
  position: relative;
  font-size: var(--prime-font-size-12);
}

.noAttemptLeft {
  text-transform: none;
  margin-left: 5px;
  position: relative;
  font-size: var(--prime-font-size-12);
}

.attemptsLeft {
  text-transform: none;
  margin-left: 2px;
  position: relative;
}

.initialAttempts {
  text-transform: none;
  position: relative;
  font-size: var(--prime-font-size-12);
  padding-left: 3px;
}

.attemptsDuration {
  text-transform: none;
}

.completedRefresh,
.refresh {
  align-items: center;
  display: flex;
}

.refresh svg {
  stroke: var(--prime-color-link);
  fill: var(--prime-color-link);
}

.completedRefresh svg {
  stroke: var(--prime-color-neutral-1);
  fill: var(--prime-color-neutral-1);
}

.refresh svg,
.completedRefresh svg {
  width: 12px;
  height: 12px;
  text-transform: none;
}

.reattemptButton {
  background-color: transparent;
  border-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.reattemptButtonDisabled {
  background-color: transparent;
  border-color: transparent;
  position: relative;
  opacity: 50%;
  display: flex;
  align-items: center;
}

.attemptDescriptionContainer {
  position: relative;
  display: flex;
}

.checklistStatus {
  display: flex;
}

.passStatus {
  color: var(--prime-success-color);
}

.failStatus {
  color: var(--prime-error-color);
}

.passStatus,
.failStatus {
  display: flex;
  font-weight: 600;
  font-size: var(--prime-font-size-12);
}

.checklistFailInfo {
  display: flex;
  font-size: var(--prime-font-size-12);
  color: var(--prime-color-neutral-1);
}
.fileNotAccessibleIcon {
  margin-right: 25px;
}

.moduleFormat {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}
