@import "../../../styles/variables.css";
.notificationDropdown{
  list-style:none;
  position:absolute; 
  padding-left: 20px;
}
.notificationBellIcon {
  padding: 0 !important;
  margin-top: 6px;
  margin-left: 20px;
  height: 36px;
  width: 36px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border:none;
}

.notificationBellIcon svg {
  fill: var(--prime-color-nc1);
  height: 20px;
  width: 20px;
}


.notificationCountStyle {
  font-weight: var(--prime-font-weight-600);
  font-size: var(--prime-font-size-10);
  color: var(--prime-color-white);
  text-align: center;
  background-color: var(--prime-icon-color);
  border-radius: 10px;
  display: inline-block;
  line-height: 1;
  padding: 1px 2px;
  border: 2px solid #fff;
  position: relative;
  top: -41px;
  left: 8px;
}
