<div class="alm-footer-container" style="position: relative; display: flex; flex-direction: column;">

    <div class="alm-footer__links" style="margin: auto;">
        <p style="margin: 0;">
            <a href="https://www.adobe.com/in/legal/terms.html" target="_blank" title="Terms of Use">Terms of Use</a>
            <span class="footer-separator"> | </span>
            <a href="https://www.adobe.com/privacy.html" target="_blank" title="Privacy">Privacy Policy</a>
            <span class="footer-separator"> | </span>
            <a href="https://www.adobe.com/in/privacy/cookies.html" target="_blank" title="Cookie Policy">Cookie Policy</a>
            <span class="footer-separator"> | </span>
            <a href="https://www.adobe.com/in/products/captivateprime.html" target="_blank" title="About">About Adobe</a>
        </p>
    </div>

    <div class="alm-footer-scrollTop">
        <a href="#">
            <div>Go to Top</div>
            <img src="/content/dam/aem-learn-components/site/ChevronUp.svg"></img>
        </a>
    </div>

</div>