.primePostDescription, .primePostPreview {
    margin-bottom: 30px;
}

.primePostPreview {
    margin-bottom: 20px;
}

.primePostVideoIframe {
    height: 17rem;
    width: 92%
}

.primePostImage {
    width:100%;
}

.primeCommunityImageBox {
    width: 100%;
    height: 35rem;
    margin-bottom: 1rem;
    background-color: #000;
}

.primeCommunityImageContainer {
    padding: 0 4rem;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}